[2013-12-10 19:37] chloeatplay opened #1 "Design Site Map"

[2013-12-10 19:58] chloeatplay commented on #1
![discovery_sitemap-01](https://f.cloud.github.com/assets/1945209/1717878/c7934cbe-61d5-11e3-9c85-1c1c00d06c9c.png)

cc @threeqube @cmcavoy  // Will elaborate/present on Thu. design call as well :dancer:

[2013-12-13 18:31] threeqube opened #2 "site property: where does this discovery tool live?"
Will it be discovery.badgekit.org?

[2013-12-13 20:28] threeqube commented on #1
This makes sense @chloeatplay. My initial question had to do with the dashboard piece but thanks for clearing that up. :+1:

[2013-12-16 14:13] iamjessklein commented on #1
Just want to reiterate some notes from our conversation last week about the site map here for documentation purposes. We discussed considering not surfacing the badge directory to the user - but really focusing on making this a badge pathway directory - a la DIY.org.

[2013-12-16 14:16] iamjessklein commented on #2
The last time that I discussed this with @chloeatplay it was still in discussion with Gates about where this should live. It seems a bit too niche to put at discovery.badgekit.org based on my understanding of the project scope. I would eventually put the work that we iterate on for badgekit (with the badgekit specific lens) in the discovery url, however, I suspect that there is going to be a non-b

[2013-12-16 14:54] threeqube commented on #2
I tend to agree. The scope of Gates discovery is quite specific at least in this first iteration of it.

[2013-12-16 21:07] cmcavoy commented on #2
i vote for discovery.openbadges.org

[2013-12-16 22:22] chloeatplay commented on #2
What everyone else said. ==> @cmcavoy :+1:  discovery.openbadges.org

[2013-12-16 22:38] chloeatplay commented on #1
On second thought I think we will surface badges along with pathways in the gallery, but for MVP keep the badge page to a standard view, as seen for example in badgekit - for consistency. @iamjessklein I think what we discussed was that we will explore the directory features you suggested in your "yelp for badges" directory wireframes, such as ratings etc further down the line. I am sure this will

[2013-12-16 22:59] threeqube commented on #1
This works for me. I have a hard time wrapping my head around not surfacing the badge directory since that is the building block for the pathways...

[2013-12-16 23:00] threeqube commented on #2
Works for me too. :+1:

[2013-12-17 00:26] iamjessklein commented on #2
I think that works for this prototype.

[2014-01-06 21:31] threeqube opened #3 "Discuss mobile first design implications on development"
@chloeatplay has done a good amount of research and is considering mobile first design for discovery/pathways/directory.

Need to figure out development implications of mobile first design.

cc/ @stenington @kayaelle

[2014-01-08 16:05] stenington commented on #3
Another way to think about this is "who's the key user, and what browser and device are they using" and then we can discuss the implications of targeting that.

[2014-01-08 16:13] stenington commented on #3
Oops, submitted too soon.

I don't particularly have a problem targeting mobile browsers if that's where the users are, but it'll have some implications for the scope of the project of course. Alternatively if they're most likely going to be using IE8 on public library computers, it would be good to design for that up front as well.

I think generally speaking, the more specific and focused we can

[2014-01-08 16:14] cmcavoy commented on #3
:+1:

[2014-01-09 14:52] iamjessklein commented on #3
As a reference, there are some great books on this. I particularly recommend this one: http://www.abookapart.com/products/mobile-first by Luke Wroblewski.

From the design perspective - which I think can also be applied to the development perspective - what's particularly nice about this approach is that you are able to reduce the interactions and content to what is essential. This allows for a no

[2014-01-09 15:10] kayaelle commented on #3
That's an excellent book @iamjessklein !

[2014-01-10 21:48] #3 closed, assigned to cmcavoy

[2014-01-10 21:48] #1 closed, assigned to chloeatplay

[2014-01-10 22:06] stenington opened #4 "Narrow target platform/browsers"
As mentioned in #3, the more we can narrow our target platform/browsers the more we can focus on building features. To that end I'm wondering:
- what platform/browser will we use for our user testing?
- how do we expect people to find and use the final product at the end of the grant?

If we know anything about the computers we'd use for our user testing, that would be useful information now. Obvi

[2014-01-10 22:06] chloeatplay opened #5 "Design Directory Wireframes (Responsive On Mobile)"
Per the teams' decision I started with the responsive wire-frames first. Below wireframes in sequence: from someone coming to the site, to them logging in (persona), to searching through the directory and checking their profile (dashboard).

Will present these on Mondays 4pm Discovery Call & Plan is to iterate through them and address many questions that I am sure will come up during our NYC-Sprin

[2014-01-10 22:23] chloeatplay opened #6 "Design Pathway Page Wireframes (Responsive On Mobile)"
Following #5, this is the Pathway Flow. We have been using the grid from our earlier prototype with @stenington as a reference to design this. Especially interested in some feedback on the design by @LucasBlair re: how content will fit in, what are some challenges you see with current design. We ll be working on solidifying this flow over sprint as well with @xmatthewx who is working on the backen

[2014-01-10 22:26] chloeatplay opened #7 "Design Directory Wireframes (Desktop)"

[2014-01-10 22:27] chloeatplay opened #8 "Design Pathway Wireframes (Desktop)"

[2014-01-10 22:27] chloeatplay opened #9 "Design Badges Page (Responsive)"

[2014-01-10 22:32] chloeatplay opened #10 "Design Badges Page (Desktop)"
We need to design a badge page for the directory. cc/ @iamjessklein @xmatthewx

[2014-01-10 23:00] xmatthewx commented on #10
hey Chloe ... I made a quick at-a-glance chart of all the different places and ways a badge might be displayed. You can [view it in gdrive](https://docs.google.com/a/mozilla.com/spreadsheet/ccc?key=0AvrbDAen9prkdC1CT2h1Vk9sMWJoWXVublhYaFlJNGc&usp=sharing) with your moz address. Feel free to edit.

I think we should have 2 or 3 ways of displaying a badge, with either more or less detail ... 2 or 3

[2014-01-10 23:02] threeqube commented on #5
:+1: I sort of feel like we need this. If the person has no badges, it'll be quite an uninspired experience otherwise, no?

[2014-01-10 23:04] threeqube commented on #4
For MVP, modern browsers only imho.

[2014-01-10 23:21] threeqube commented on #10
@xmatthewx I think the there will be 2 use cases here:
- (1) display of an earned badge instance: the earned badge of a logged in user being pulled in from their backpack
- (2) display of an earnable badge class with all the associated metadata and criteria information: the badge class that the earner can add to a pathway or favorite

[2014-01-10 23:25] threeqube commented on #2
Wait before we close this @cmcavoy who's on it to make sure discoery.openbadges.org instance is stood up?

[2014-01-11 00:22] sn3ek opened #11 "What is the actual goal of this project?"
Hi,
I'm following the project. But I barely can see what the actual goal is. What should be accomplished? Do you "just" want to build different clients such as mobile app, web app and desktop app? What's the backend?

I couldn't attend to any community call, yet. Are there more information about the goal, I haven't seen yet?

Thank you :)

[2014-01-11 09:16] jadeforester commented on #11
Hi,

Thanks for reaching out! Our team often blogs about the various projects we're working on - let me share some blog posts with you that might provide a little context to Discovery, Pathways and the Badge Directory:

From @iamjessklein, our Creative Lead: http://jessicaklein.blogspot.co.uk/2013/07/badgopolis-form-follows-emotion.html
Also from Jess, specifically on badge directory: http://jessi

[2014-01-11 16:23] sn3ek commented on #11
Thank you jade. I guess for the beginning it will give me a nice overview :)

A question do I have: I'm a Ruby on Rails developer and I also have some ideas about building projects with achievement systems and pathways for students. Maybe there is something I could bring into the project - ideas, implementations etc?

I have seen the prototype will be implemented with meteor?

[2014-01-13 10:34] jadeforester commented on #11
Maybe you'd be interested in joining our Community Calls on Wednesdays? They are a great place for news and updates on badges projects and for 2-3 community members to give short presentations and discuss things with the broader community.

More info: http://bit.ly/OpenBadgesCommunityCalls

We also hold a Research + Badge System Design Call in the hour before the Community Calls every Wednesday, f

[2014-01-13 11:46] sn3ek commented on #11
Thank you @jadeforester I plan to attend on the call on wednesday. Thank you for the links!

[2014-01-14 17:23] chloeatplay commented on #4
_how do we expect people to find and use the final product at the end of the grant?_

As per Erin even though we have a target audience, we don't have a pilot necessarily for this grant period. So I would go with @threeqube 's suggestion.

[2014-01-14 17:23] #4 closed, assigned to nobody

[2014-01-14 23:30] xmatthewx commented on #10
@threeqube - agreed.

[code]
- (a) display image, title, link
- (b) display image, title, link, criteria, etc

[2014-01-14 23:48] threeqube commented on #10
@xmatthewx For this instance sub facebook and tumblr for discovery tool site. So:

[code]

What do you mean by resume?

By website I assume you mean issuer website with criteria information.

[2014-01-16 04:36] chloeatplay commented on #7
Moving some of the #5 wireframes for desktop
![discovery ux-03](https://f.cloud.github.com/assets/1945209/1927770/9e1f1102-7e67-11e3-9a38-286062e3ee48.png)
First take on dashboard-
![discovery ux-04](https://f.cloud.github.com/assets/1945209/1927771/aa04c8e0-7e67-11e3-9b09-7159938b4fa1.png)

[2014-01-16 04:38] chloeatplay commented on #8
Moving to desktop view some of the #6 wireframes
![discovery ux-05](https://f.cloud.github.com/assets/1945209/1927780/030f7cf0-7e68-11e3-9c34-a9805f601a73.png)
![discovery ux-06](https://f.cloud.github.com/assets/1945209/1927781/031249e4-7e68-11e3-980e-902aa09d797a.png)

[2014-01-16 15:38] emgollie commented on #7
Re: the directory: great stuff @chloeatplay! Looking forward to testing a few different options for the dropdown menu contents.

[2014-01-17 02:47] threeqube commented on #7
:+1:

[2014-01-17 15:35] threeqube opened #12 "Create quiz content"
When a user first starts, the discovery tool needs some context to get oriented and start generating recommended badges. We'll fulfill that with an initial strawman quiz.

cc/ @emgollie

[2014-01-17 15:40] #11 closed, assigned to nobody

[2014-01-17 15:42] threeqube opened #13 "Design placeholder splash page on discover.openbadges.org"
Need logo (branding) and copy.

[2014-01-17 15:48] threeqube opened #14 "Create pathway template for content partners"

[2014-01-17 15:57] threeqube opened #15 "Create User testing plan and schedule"

[2014-01-17 15:58] threeqube opened #16 "Create user personas"
cc/ @LucasBlair

[2014-01-17 16:02] threeqube opened #17 "Create advisory board"

[2014-01-18 03:12] emgollie commented on #15
Might we be able to add this to the agenda for Wednesday's team meeting? Per a conversation with @chloeatplay, our advisory board and HIVE will be highly involved in connecting us with testers. The Youth Radio and Bay Area Video Coalition teens are open to reviewing work as well (my internal recruitment bells are ringing).

@LucasBlair is currently working on a set of personae for Thursday (which

[2014-01-18 03:22] emgollie commented on #16
We have a meeting with Grainne and An-Me on Thursday for @LucasBlair to talk through V1 (though we'll likely discuss on the team call too). Per our conversation today, we think this will help potential partners more quickly visualize the learners we're designing with.

cc @chloeatplay

[2014-01-18 04:07] emgollie commented on #17
Discussed today with @chloeatplay + am excited for this! Have outlined some thoughts here: https://openbadges.etherpad.mozilla.org/discovery-advisory-board

@threeqube @chloeatplay Would you mind explaining the milestones to me (i.e. the difference between earth and Mars)?

[2014-01-18 04:52] threeqube commented on #17
@emgollie Happy to schedule time to go over the milestones. In the mean time, updated version viewable here: https://openbadges.etherpad.mozilla.org/discovery-milestones

[2014-01-18 08:03] emgollie commented on #17
This is helpful, thanks. @chloeatplay, let me know what you think about the very rough board plans and we can add to the prospective invitee list.

[2014-01-18 15:52] chloeatplay commented on #17
Initial list looks great, thanks Emily!! Added some thoughts. Lets have people give input at weekly call (I remember some names came up there too), and meanwhile move forward with invites to the ones we already know we want to get involved.

On Saturday, 18 January 2014 at 03:03, Emily Goligoski wrote:

[2014-01-18 15:53] stenington opened #18 "Render a re-arrangeable pathway grid"
Work out the rendering of a re-arrangeable pathway grid. The rest of the page will be dealt with in another ticket.

I think the pathway being re-arrangeable has the greatest impact on how the templates will look, so may as well do that up front and then limit it to having clicked the rearrange button later.

Note that badges in a pathway can be made mandatory, which simply means they cannot be de

[2014-01-18 15:54] stenington opened #19 "Remove badges from pathway functionality"
Add the ability to remove badges from a pathway.

[2014-01-18 15:55] stenington opened #20 "User login and accounts"
Add user log in and accounts.

[2014-01-18 15:56] stenington opened #21 "Build add badges to pathway functionality"
Add the ability to add badges to a pathway from the Backpack or from favorited badges.

[2014-01-18 15:57] stenington opened #22 "Render rest of pathway page"
Render the pathway page except the actual pathway grid (handled in #18).

[2014-01-18 15:58] stenington opened #23 "Build shuffle v1"
Build the shuffle functionality that displays recommended badges that can be added to a pathway.

Note the recommendations won't necessarily be any good (providing/improving them is part of openbadges-directory).

[2014-01-18 16:00] stenington opened #24 "Build the listing page"
The listing page is basically a view on a combo of directory and pathways data. Data will have to be fetched from each and collated in some fashion.

This should include filters, or if not then that should become an additional ticket.

[2014-01-18 16:04] threeqube commented on #17
:+1:

[2014-01-18 16:07] stenington opened #25 "Add favorites functionality to listing"
Make badges favoritable by toggling an icon on the listing page

[2014-01-18 16:08] stenington opened #26 "Build notes functionality"
Add the ability to add notes as an entity on the pathway grid.

[2014-01-18 16:08] stenington opened #27 "Build milestones functionality"
Add the ability to mark milestones on the grid.

[2014-01-18 16:16] threeqube commented on #23
@chloeatplay we weren't sure whether shuffle would be MVP but hey I'm all for trying to include it if possible! What say you?

[2014-01-18 16:22] threeqube commented on #24
:+1: on filters. What do you mean by "if not then that should become an additional ticket"?

[2014-01-18 16:25] threeqube commented on #27
@chloeatplay is this in scope of MVP?

[2014-01-18 16:37] stenington commented on #27
It's unclear; I think we need to see how things go and didn't want to forget about it in the meantime.

[2014-01-18 16:40] stenington commented on #24
If it turns out to be easiest to build the page without filters first, we could then close this ticket and open a new one to track adding the filters. Sometimes it's nicer to break things down that way if needed, but I have a feeling they can be done in a single ticket.

I think long-lived implementation tickets with too much discussion or too many commits get hard to deal with though.

[2014-01-18 16:42] stenington commented on #23
For my two cents: we may not get there, but I didn't think creating tickets implied building it for MVP. I think it's useful to capture the ideas we had in the sprint, although if you want to limit open issues to things definitely part of MVP I'm cool with that too.

[2014-01-18 17:00] threeqube commented on #23
Agreed. I'm good with that. Thanks @stenington

[2014-01-18 17:03] threeqube commented on #24
Got it. Sounds good to me.

[2014-01-18 17:03] threeqube commented on #27
@stenington got it

[2014-01-19 16:29] chloeatplay commented on #23
What @stenington said :thumbsup: Good to include here, even if we only end up building part of the functionality as proof of concept for MVP.

[2014-01-21 22:26] emgollie commented on #17
Sounds good, thanks you two. I'd love to spend 5-10 minutes on this tomorrow if your agenda allows and then start sending invites.

[2014-01-21 22:28] chloeatplay commented on #17
sounds great :thumbsup:

On Tuesday, 21 January 2014 at 17:26, Emily Goligoski wrote:

[2014-01-22 00:05] threeqube commented on #17
:+1:

[2014-01-22 21:37] stenington commented on #18
I've begun to explore the UI here: http://openbadges-discovery.herokuapp.com

Still need to investigate mobile though, which doesn't seem to have any support for HTML5 drag and drop.

[2014-01-22 21:43] threeqube commented on #18
so cool @stenington :+1:

[2014-01-23 03:23] stenington commented on #18
Looks like HTML5 drag and drop doesn't work in any mobile browsers, but jquery ui + jquery ui touch punch does (at least on my iphone). Check out http://openbadges-discovery.herokuapp.com on a mobile device!

[2014-01-23 11:40] threeqube commented on #18
It also does on my iphone 5S! Very cool! :dancer: :koala:

[2014-01-24 19:23] stenington commented on #20
Starting to add some of this stuff in #31. There's both the Persona side of this, and the user accounts in our own DB to think about.

Just as a reminder for myself later: log in doesn't end with success from Persona; we then need to fetch user account info from the DB to be fully ready.

[2014-01-27 10:46] chloeatplay commented on #16
Reassigning this to @LucasBlair

[2014-01-27 10:50] #2 closed, assigned to cmcavoy

[2014-01-27 10:51] chloeatplay opened #32 "Create Wiki Page with Wireframes"

[2014-01-27 10:55] chloeatplay commented on #32
Create a Wiki page with the updated wireframes for the entire site. (mobile & desktop)

[2014-01-27 10:59] chloeatplay commented on #10
Hi @xmatthewx , thanks for these! I am not sure I get the table content above, maybe we can go over it this week? I understand the user cases @threeqube mentions , and am looking for UX templates that you might have already developed for Badgekit...

[2014-01-27 16:26] stenington opened #33 "Mobile Safari dragging bug"
Mobile Safari 7 on my phone offsets the badge image when dragging like so (my finger would be on the green square overlapping the yellow target):

<img src="https://f.cloud.github.com/assets/55319/2010562/874fd69e-876f-11e3-949b-6cfae32bfe8e.png" width="300">

For some reason the calculated `max-height` changes on the badge image when `.ui-draggable-dragging` is added to the containing `.badge` el

[2014-01-27 22:15] stenington opened #34 "Explore pathway representation"
It just sort of clicked in my head that the way we've divided data between the discovery and directory projects puts the burden of doing cool recommendations stuff with badges and pathways on this project.

To that end, we may want to schedule some time to play around with different ways of representing a pathway in a database, and the repercussions of doing so. In particular, it may be worth expl

[2014-01-28 01:15] threeqube commented on #34
@stenington when would be an appropriate time for that conversation?

[2014-01-28 17:18] stenington commented on #34
@brianloveswords brought this up for consideration as well:  http://nodejsconfit.levelgraph.io/

To answer @threeqube, I think we should start the discussion pretty soon. There's not a lot I can do without knowing what DB to use for the project and getting team input will help me make a more informed decision.

[2014-01-28 22:21] stenington commented on #34
The outcome of discussion with @threeqube and @chloeatplay was that there seems to be time to explore this a bit further, so I'll do a bit more research.

[2014-01-28 22:52] brianloveswords commented on #34
If you need a Document/Graph hybrid approach, http://en.wikipedia.org/wiki/OrientDB looks interesting.

[2014-01-29 16:14] #5 closed, assigned to chloeatplay

[2014-01-29 16:14] #6 closed, assigned to chloeatplay

[2014-01-29 16:14] #7 closed, assigned to chloeatplay

[2014-01-29 16:14] #8 closed, assigned to chloeatplay

[2014-01-29 18:40] threeqube commented on #6
@chloeatplay for all the closed wireframe tickets, we should have corresponding implement tickets, no? cc/ @stenington

[2014-01-29 18:48] chloeatplay opened #35 "Design Discovery Dashboard"
This is a simple version of the dashboard as designed for responsive. Collecting feedback over here. https://redpen.io/h25y4j

[2014-01-29 18:56] chloeatplay commented on #6
Reorganizing, to break down these giant scrolls to smaller tickets that can be directly associated with implementation tickets. Final wireframes will live in a wiki.  Please hold- will have this done within the hour :dancer: :

[2014-01-29 19:02] chloeatplay opened #36 "Design Pathway Landing Page_ Not Logged In"
Two iteration for the display of core badges and milestones that correspond to the badge system design by @LucasBlair. Wireframes & feedback over here https://redpen.io/c4n35y

[2014-01-29 19:04] LucasBlair commented on #36
These look great Chloe.

[2014-01-29 19:09] chloeatplay opened #37 "Design Pathway Page_ Logged in Landing Page"
Landing Pathway Page for when you log in:  https://redpen.io/3mbxaf

[2014-01-29 19:15] chloeatplay opened #38 "Design Pathway Page_ View Similar"
View Similar; updated to reflect saving options as well as what happens after you have selected some badges for shuffle https://redpen.io/3vyuws

[2014-01-29 19:17] chloeatplay opened #39 "Design Pathway Page_ Rearrange"
Wondering how the milestone gets rearranged. https://redpen.io/j8xtmv

[2014-01-29 19:20] chloeatplay opened #40 "Design Pathway Page_ Add badges"
Added the flow of what happens when you click on a badge https://redpen.io/986f4h

[2014-01-29 19:27] chloeatplay opened #41 "Design Pathway Page_ Add notes"
Two iterations on how to add notes based on sprint convos https://redpen.io/4q5vgw

[2014-01-29 19:29] chloeatplay opened #42 "Design Pathway Page_ Remove"
Needs to be re-designed if notes are not occupying separate squares. https://redpen.io/e7szmh

[2014-01-29 19:32] chloeatplay opened #43 "Design Directory Landing Page"
Minor redesign so top navigation buttons are not next to each other and thumbs don't press the wrong things :) https://redpen.io/nav4cp

[2014-01-29 19:33] chloeatplay opened #44 "Design Quiz"
Based on @ghami 's content, need to design quiz wireframes & visuals.

[2014-01-29 19:34] chloeatplay opened #45 "Implement Splash page"
Implement #13

[2014-01-29 19:35] chloeatplay commented on #13
Will start with a hacked version of the badgekit page for reference.  http://badgekit.openbadges.org/

[2014-01-30 00:23] threeqube commented on #6
:+1:

[2014-01-30 03:51] threeqube commented on #43
:+1:

[2014-01-30 03:54] threeqube commented on #41
@chloeatplay how do you hover on mobile?

[2014-01-30 16:05] chloeatplay commented on #17
Update on this: Me and An-Me have concluded on a tier 1 advisory board of 5-6 people. An-Me will do outreach this week and check in with Robert for input. The expectation is that of 2 conference calls to gather feedback an possibly an in person meeting at the end of the project, budget allowing. Once we have advisory confirmed we will also add them to the splash page #13

[2014-01-30 16:06] chloeatplay commented on #15
@emgollie let us know if you need support with this :dancer:

[2014-01-30 16:09] chloeatplay commented on #12
Reassigning to @ghami. Once we have content for this we can connect to #44 and open an implementation ticket.
@stenington would like your input about the simplest way to connect quiz results to the recommended listing.

[2014-02-04 15:01] iamjessklein commented on #15
@emgollie and I talked about the possibility of piggybacking discovery testing on top of the BadgeKit testing that we have going on.

[2014-02-04 15:09] iamjessklein commented on #41
Gave feedback on redpen. I am leaning towards the second iteration, mainly based on the fact that I imagine I would want to notate the pathway vs. the badge.

Re: hover on mobile could be accomplished with two click or click and hold gesture

[2014-02-04 15:12] iamjessklein commented on #43
:+1:

cc: @xmatthewx - reference so that we can start thinking about where pathways connect w/ BadgeKit

[2014-02-04 15:19] iamjessklein commented on #13
What content needs to go on the Splash page?

[2014-02-04 19:36] threeqube commented on #41
Ah ok. Thanks!

[2014-02-05 19:17] chloeatplay commented on #43
Finalizing these so I can transfer to wiki :dancer:
![discovery ux_final-02](https://f.cloud.github.com/assets/1945209/2090845/b7d71c9c-8e99-11e3-9a6a-d3c582cc81b6.png)
&
![discovery ux_final-04](https://f.cloud.github.com/assets/1945209/2090865/f1092eec-8e99-11e3-9118-012d71dc755a.png)

[2014-02-05 19:18] chloeatplay commented on #42
Going with notes occupying whole squares for now. Remove works similarly for both badges and notes.  ![discovery ux_final-12](https://f.cloud.github.com/assets/1945209/2090878/31585770-8e9a-11e3-9d8e-a3d627d88837.png)

[2014-02-05 19:22] chloeatplay commented on #41
Thanks @iamjessklein for the hover wiz, was thinking that on click and press would work here. After some debate going for now with the note occupying a whole square for now and renaming it possibly to storybit or story badge- ideas? I think it is not just a note, it is anything that can be a non badge experience, tip, story, to-do. I also agree that a user is more likely to want to annotate the wh

[2014-02-05 19:24] chloeatplay commented on #40
![discovery ux_final-09](https://f.cloud.github.com/assets/1945209/2090940/ede3052a-8e9a-11e3-94d9-d39e48df7d41.png)
Take a look at the wireframe below @iamjessklein @xmatthewx ; is this how you imagined badge page been displayed, re: including status of badge such as owned(in backpack) and/or wishlisted?
![discovery ux_final-10](https://f.cloud.github.com/assets/1945209/2090957/0b560a12-8e9b-11e3

[2014-02-05 19:26] chloeatplay commented on #39
![discovery ux_final-08](https://f.cloud.github.com/assets/1945209/2090984/55649114-8e9b-11e3-906c-e6e639f2e482.png)
After comments on redpen, addressing the issue of what happend when milestones are rearranged; badges between them do not move.

[2014-02-05 19:28] chloeatplay commented on #38
Changed "shuffle" language to "reload" indicated with an icon here-
![discovery ux_final-07](https://f.cloud.github.com/assets/1945209/2090998/8ceecf1e-8e9b-11e3-8a2d-fd12c930daf9.png)

[2014-02-05 19:29] chloeatplay commented on #37
Added a little design key to help with understanding the rules in the pathways.
![discovery ux_final-06](https://f.cloud.github.com/assets/1945209/2091010/c4eb0360-8e9b-11e3-8265-13472142d45a.png)

[2014-02-05 19:31] chloeatplay commented on #36
Went with line solution from two iterations above. Will explore more during UI. ![discovery ux_final-05](https://f.cloud.github.com/assets/1945209/2091025/f153e07a-8e9b-11e3-8883-7222b09067a5.png)

[2014-02-05 19:33] chloeatplay commented on #35
Added desktop version and reviewed position of "add a pathway" button.
![discovery ux-updated-03](https://f.cloud.github.com/assets/1945209/2142841/626206c0-936a-11e3-9ae1-c7980b2823c0.png)

[2014-02-05 19:36] chloeatplay commented on #44
First stab based on @ghami 's wireframes. Thinking of using the hexagon theme here.

[2014-02-05 19:36] chloeatplay commented on #44
![discovery ux_final-01](https://f.cloud.github.com/assets/1945209/2091089/c94f082e-8e9c-11e3-9e96-7ec402356adc.png)

[2014-02-05 19:37] chloeatplay commented on #45
Moving this to Mars Milestone, closer to DML.

[2014-02-05 19:41] chloeatplay commented on #13
Splash Page needs to contain a) Logo for Discovery similar to Badgekit page. b) A small paragraph containing info about the project c)Subscribe for updates? d) Footer with gates & openbadges logos e) Advisory Group photos (6 people) & Partnens (3-4) ==> not sure this would go to splash page, but noting it here since it gives project some prestige.
In terms of style, should link to openbadges logo

[2014-02-05 19:43] chloeatplay commented on #32
Megawiki created ==> https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes

[2014-02-05 19:43] #32 closed, assigned to chloeatplay

[2014-02-05 22:22] stenington commented on #34
Oh woah, I missed the previous comment until just now.

OrientDB does look interesting. It'd be cool to play with it and find out just how, um, _twangy_ its dialect of SQL is. I wonder if you can treat it like SQL until you need graphs, or if you can't even get going without a pretty thorough understanding of the variations.

Anyway, I'd say the outcome of this exploration is a resounding "Let's u

[2014-02-05 22:23] #34 closed, assigned to nobody

[2014-02-06 00:43] emgollie commented on #15
I talked a stab at the testing plan for the next three weeks: https://openbadges.etherpad.mozilla.org/pathways-userstories. I can write a script with Chloe when she's in town next week too.

@chloeatplay @threeqube, I have a few questions on what we think we'll have ready as far as the UI for the next milestone. Do you mind chiming in on line 20?

[2014-02-06 01:41] threeqube commented on #13
:+1:

[2014-02-06 01:42] threeqube commented on #44
:+1:

[2014-02-06 01:46] threeqube commented on #35
[add a pathway] coming on 2nd screen does feel a bit more intuitive to me. :+1:

[2014-02-06 01:48] threeqube commented on #36
:+1:

[2014-02-06 01:50] threeqube commented on #37
@chloeatplay is the [personalize] menu trigger below the fold?

[2014-02-06 01:56] chloeatplay commented on #37
@threeqube yes, good catch!

[2014-02-06 01:57] threeqube commented on #38
:+1:

[2014-02-06 01:57] threeqube commented on #39
:+1:

[2014-02-06 02:03] threeqube commented on #40
@chloeatplay question: do I click [add badges] from menu first and then click the badge to add? How is the check mark feedback triggered?

[2014-02-06 02:05] threeqube commented on #37
@chloeatplay feels like it shouldn't be, no?

[2014-02-06 02:06] threeqube commented on #41
:+1:

[2014-02-06 02:06] threeqube commented on #42
:+1:

[2014-02-06 02:07] chloeatplay commented on #37
Hmmm- I see how it can be tricky. In my head it should be a sticky button- which means it always sticks on the top of the screen when you come to scroll to that point. Does that make sense?

[2014-02-06 02:08] threeqube commented on #43
:+1:

[2014-02-06 02:09] chloeatplay commented on #40
Good question; I was thinking it's triggered upon click/ touch. There could also be a visual indication, such as everything is faded out until you click/add it. Makes sense?

[2014-02-06 02:11] threeqube commented on #37
Makes sense. Thanks for clarifying @chloeatplay :dancer:

[2014-02-06 02:12] threeqube commented on #40
Makes sense. Thanks for answering my silly questions. :smile:

[2014-02-06 20:13] stenington commented on #20
As of 9c7125875d6b747c4c03f02c0ab3388b4a8b03b6 a trivial User node gets created in the DB for anyone who logs in.

[2014-02-06 21:27] stenington commented on #12
I think the simplest way would be to translate the quiz results to search parameters to issue against the directory. That in turn calls into question the idea of tagging again, and whether we'll go with issuer-supplied tags only or have some sort of additional tags available, etc.

I think maybe we need a discussion ticket for that, which I will open and link here.

[2014-02-06 21:54] stenington opened #46 "Tag taxonomy"
As mentioned in #12, this can serve as a discussion thread for tag taxonomies.

Below is my understanding of the issue. (Please correct me if I'm wrong.)
## Overview

We've been talking about the pathways app having some sort of hierarchical view of all of the badges it knows about and being able to cluster them under the relevant job sectors, for example. An obvious mechanism for this sort of thi

[2014-02-06 21:55] stenington commented on #46
Uh, so my discussion of the issue turned into a proposal for a solution, but hey...

[2014-02-06 21:55] stenington commented on #12
Ok created #46

[2014-02-07 01:57] threeqube commented on #46
Who tags the pathways?

[2014-02-07 11:09] ghami commented on #46
Hi, I'd begun to consider some ideas for tagging pathways and badges. Trying to minimise confusion with too many tags to have to select from, I wondered about using the Holland Code (as it provides a general bucket aligned to certain industries, that people could be dropped into and open up certain pathway options for them) but also having issuers define something about their badge - again trying

[2014-02-07 11:11] ghami commented on #46
- Another option I'm reflecting on how clusters of badges could be used to define attributes and if so how, eg tenacity is likely to be demonstrated over time and potentially over a range of badges. Is there merit in allowing users to define attributes via a cluster of badges rather than just one badge?

[2014-02-07 11:16] ghami commented on #46
Badge Types - extended

Interest badges
Group badges
Event badges (eg Internship badge, Conference badge)
Attribute badges (eg Tech enthusiast badge, Positive attitude badge)
Accreditation badges (eg Degree badge, Certification badge)
Proficiency badges (eg Coding skill badge, Kung foo badge)
Knowledge badges (Badges for thinking, analysing, or having general knowledge)
Habit badges (Badges that a

[2014-02-07 15:19] stenington commented on #46
The problem with trying to provide a consistent structure to issuer-supplied badge tags is that it might work for the industry partners we help right now, but doesn't scale to opening up pathways to the entire badge ecosystem. I think we need something simple and robust, rather than a complicated system relying on the badge issuer building their badges through a tool we control so they understand

[2014-02-07 15:21] stenington commented on #46
@threeqube For tagging pathways, I imagine we would tag the pathways we seed the system with, but then tags would be editable when a person clones a pathway.

[2014-02-07 15:39] stenington opened #47 "Privacy controls"
Will there be any privacy controls in the MVP product? Are all pathways and user accounts publicly viewable?

[2014-02-07 15:55] threeqube commented on #47
hmm, good question. @stenington I don't think we can completely ignore them since we should be mindful of them for the post proof-of-concept product goals. What's the appropriate MVP privacy controls for the MVP product? :wink:

[2014-02-07 20:52] #14 closed, assigned to LucasBlair

[2014-02-07 20:52] #17 closed, assigned to chloeatplay

[2014-02-07 20:54] chloeatplay commented on #12
@ghami moving this to the next milestone. @stenington moving to #46 to follow discussion.

[2014-02-07 20:54] chloeatplay commented on #17
This is done :+1:

[2014-02-08 00:29] threeqube commented on #17
Bravo!

[2014-02-08 00:36] threeqube commented on #46
@stenington gotcha. Thanks!

[2014-02-11 16:04] stenington commented on #18
I think #31 is good enough to satisfy this. The only annoyance is that all users are editing a shared pathway instead of having their own clones, but I think adding in the pathway cloning belongs in another ticket. I'm going to solicit some code reviews and close this out.

[2014-02-11 18:08] stenington commented on #40
I don't think D11/M11 made it onto the wiki, did they?

[2014-02-11 18:13] chloeatplay commented on #40
good catch- adding it now :thumbsup:

[2014-02-11 18:18] threeqube commented on #43
Clarification: [Featured] will be both pathways and badges.
Featured list will be curated likely by @LucasBlair and or @ghami

Tags will generate both pathways and badges. These tags will be tagged by issuers.

[2014-02-11 18:18] #43 closed, assigned to chloeatplay

[2014-02-11 18:19] threeqube commented on #42
Implementation ticket to be created.

[2014-02-11 18:19] #42 closed, assigned to chloeatplay

[2014-02-11 18:20] #41 closed, assigned to chloeatplay

[2014-02-11 18:21] threeqube commented on #40
Is there a [view more] option if there are more than 4 badges? @chloeatplay to clarify.

[2014-02-11 18:23] chloeatplay commented on #40
Will update today to reflect view more & mobile.

[2014-02-11 18:26] threeqube commented on #39
Desktop grid is 6 squares wide and mobile grid is 3. Depending on size of your screen, the grid will wrap. When it wraps, how are notes handled? What if someone intentionally put a note to the right of the badge but that note ends up wrapping to the next line?

@stenington: Easiest solution would be to make the grid width the same.

@chloeatplay: For MVP let's keep the grid width the same. We can

[2014-02-11 18:26] #39 closed, assigned to chloeatplay

[2014-02-11 18:28] threeqube commented on #38
@chloeatplay: The newest badge recommendations always populate the top first and then down if there are no empty grid spaces available.

[2014-02-11 18:28] #38 closed, assigned to chloeatplay

[2014-02-11 18:36] #37 closed, assigned to chloeatplay

[2014-02-11 18:39] chloeatplay commented on #36
Mike L: Instead of Pledge This, should be sign in to be able to pledge. This button appears every time you reach a pathway. Once pledged that pathway gets added to your pathways (on dashboard)

[2014-02-11 18:39] #36 closed, assigned to chloeatplay

[2014-02-11 18:40] chloeatplay commented on #35
Note: Each section above (i.e Badges, Wishlist) has a view more badges mode at the bottom.

[2014-02-11 18:40] #35 closed, assigned to chloeatplay

[2014-02-11 18:58] stenington opened #48 "Listing page template"
See wireframes for [D1/M1](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d1--m1) and [D2/M2](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d2--m2)

Includes header, footer, filter dropdown, search bar, sign in/up.

Does **not** include the pathways/badges themselves, functionality behind any buttons/search, the quiz, or the us

[2014-02-11 19:06] stenington opened #49 "Listing page badges/pathways collection template"
See wireframes for [D1/M1](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d1--m1) and [D2/M2](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d2--m2)

Includes item template and collection template with _View more_ button.

Does _not_ include favorites functionality.

[2014-02-11 19:12] stenington opened #50 "Listing page badges/pathways view/model/collection"
See wireframes for [D1/M1](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d1--m1) and [D2/M2](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d2--m2)

This includes Backbone views, models and collections to render a paginated list of badges and pathways using the templates provided in #48 and #49.
- Selecting a filter should redr

[2014-02-11 19:24] stenington opened #51 "Implications of mixing badges and pathways"
The discovery app wants to treat badges and pathways as essentially identical things, but I have the sense that that's a little bit tricky to implement. For example if we want the directory project to be in charge of badges but also to have featured badges, it's starting to feel like we need to periodically import directory badges in to the discovery project and then do all the searching/filtering

[2014-02-11 19:25] stenington opened #52 "Listing page API endpoints"
This is a bit of a placeholder until #51 gets worked out, but the listing page will need something like a `GET /api/achievement` endpoint that returns badges and pathways, paginated and filtered/sortable by
- featured status
- latest
- type (badge or pathway)
- tag

[2014-02-11 19:28] stenington opened #53 "Listing page search endpoint"
Again a bit contingent on #51, but we'll need a mechanism for searching badges/pathways.

[2014-02-11 19:29] stenington opened #54 "Logged in user summary template"
This is just a small template to display a user summary in the upper right corner for a logged in user. See for example [D2/M2](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d2--m2).

[2014-02-11 19:32] stenington opened #55 "Logged in user subview"
This is a simple subview that takes a user model and the template from #54 and probably includes logout controls.

@chloeatplay How does a logged in user log out?

[2014-02-11 19:37] stenington opened #56 "User dashboard page template"
See [D3/M3](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d3--m3).

This includes very little to start: just the header, footer, user name, avatar and description text with placeholder elements for the pathway/badge lists.

[2014-02-11 19:40] stenington opened #57 "User dashboard page view/model/collections"
This should just be a Backbone view for the dashboard page. Hopefully the listing page models/views/collections can be reused for the pathway and badge lists.

The "Add a pathway" fake list item might add a little complication and require its own components.

[2014-02-11 19:42] stenington opened #58 "User dashboard pathways API endpoint"
Add an endpoint to get a user's pledged pathways.

[2014-02-11 19:44] stenington opened #59 "User dashboard badges API endpoint"
Add an endpoint to get a user's badges from their backpack.

Alternatively I wonder if we want to provide some sort of "I earned this" button that lets the discovery app record that a user has claimed to have a badge **without** requiring them to share it through the Displayer API.

[2014-02-11 19:46] stenington opened #60 "Wishlist API endpoints"
We'll need endpoints to list, add, and delete user wishlist items. Because it's just a boolean value I'm not sure we need update them (deleting may be better).

[2014-02-11 20:01] stenington opened #61 "Pathway page template"
See [D4/M4](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d4--m4).

Includes image, title, description, and a sign in to pledge/pledge to do this button.

Does not include the pathway grid.

[2014-02-11 20:04] stenington opened #62 "Pledged pathway page template"
See [D5/M5](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d5--m5).

Includes image, progress bar, editable name and description.

Does not include hooking up actual functionality or pathway grid.

[2014-02-11 20:09] stenington opened #63 "Pathway grid templates"
Template to draw the pathway grid as in [D4/M4](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d4--m4).

[2014-02-11 20:12] stenington opened #64 "Pathway page view/model/collections"
This includes the Backbone page view and grid view, plus models and/or collections needed to render [D4/M4](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d4--m4).

[2014-02-11 20:14] stenington opened #65 "Pledged pathway page view/model/collections"
This includes the overall page view, pathway grid editing panel, and grid view plus supporting models/collections to render [D5/M5](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d5--m5).

[2014-02-11 20:16] stenington opened #66 "Pathway grid rearrange view"
This includes a Backbone view that manages rearranging badges on the grid.

[2014-02-11 20:16] stenington opened #67 "Pathway grid delete view"
This includes a Backbone view that manages deleting badges from the grid.

[2014-02-11 20:16] stenington opened #68 "Pathway grid add view"
This includes a Backbone view that manages adding badges to the grid.

[2014-02-11 20:21] stenington opened #69 "Pathway requirements endpoints"
Includes endpoints to create, read, update, delete pathway requirements from a pathway.

[2014-02-11 20:21] stenington opened #70 "Clone a pathway endpoint"
We'll need an endpoint that clones a pathway (and it's requirements) as a new pathway under a particular user.

[2014-02-11 20:23] stenington opened #71 "Pledged pathway page endpoints"
We'll need endpoints that let a user edit their pathways' name and descriptions.

[2014-02-11 20:25] stenington opened #72 "Recommendations endpoint"
We'll need an endpoint that is able to calculate recommendations for a user and return relevant pathways and/or badges.

[2014-02-11 20:26] stenington opened #73 "Quiz templates"
This includes any needed templates for the initial quiz a user can take to get started with more tailored recommendations. This is a placeholder as the quiz has yet to be designed.

[2014-02-11 20:27] stenington opened #74 "Quiz backend"
This is just a placeholder for however the quiz backend will work.

[2014-02-11 20:28] stenington opened #75 "Dashboard visualizations"
This is a placeholder to figure out how the dashboard visualizations might work.

[2014-02-11 20:32] stenington opened #76 "Badge page template"
This is the basic template for the badge page as in [D11/M11](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d11--m11). It will also need a logged out version.

[2014-02-11 20:33] stenington opened #77 "Badge page view/model/collection"
This is for the Backbone view and model to render [D11/M11](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d11--m11).

[2014-02-11 20:35] stenington opened #78 "Badge page endpoints"
We'll need an endpoint to fetch the badge information to support [D11/M11](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d11--m11).

[2014-02-11 20:37] stenington opened #79 "Note templates"
This includes templates to render a note on a grid and the note editing view as in [D9/M9](https://github.com/mozilla/openbadges-discovery/wiki/Discovery-UX-Wireframes#wiki-d9--m9).

[2014-02-11 20:42] stenington opened #80 "Add notes to pathway"
Assuming a pathway grid view that can already handle badges, update it to handle notes as well.

[2014-02-11 20:43] stenington opened #81 "Notes endpoints"
We'll need endpoints to add and delete notes on a user's pathways.

[2014-02-11 20:45] stenington opened #82 "Add milestones to grid rendering"
Assuming we have the code to render a grid without milestones, add the ability to render milestones as well.

[2014-02-11 20:45] stenington opened #83 "Add milestones to data model and endpoints"
Add milestones to the appropriate endpoints and data model.

[2014-02-11 20:47] stenington opened #84 "Add similar badge endpoint"
Add an endpoint to return badge recommendations for a particular pathway.

[2014-02-11 20:48] stenington opened #85 "Add similar grid view"
Build a Backbone view that handles the display and selection of badge recommendations for a particular pathway.

[2014-02-11 20:49] stenington commented on #19
Replaced by more detailed tickets.

[2014-02-11 20:49] #19 closed, assigned to nobody

[2014-02-11 20:49] stenington commented on #21
Replaced by more detailed tickets.

[2014-02-11 20:49] #21 closed, assigned to nobody

[2014-02-11 20:50] stenington commented on #22
Replaced by more detailed tickets.

[2014-02-11 20:50] #22 closed, assigned to nobody

[2014-02-11 20:51] stenington commented on #23
Replaced by more detailed tickets.

[2014-02-11 20:51] #23 closed, assigned to nobody

[2014-02-11 20:51] stenington commented on #24
Replaced by more detailed tickets.

[2014-02-11 20:51] #24 closed, assigned to nobody

[2014-02-11 20:51] stenington commented on #25
Replaced by more detailed tickets.

[2014-02-11 20:51] #25 closed, assigned to nobody

[2014-02-11 20:51] stenington commented on #26
Replaced by more detailed tickets.

[2014-02-11 20:51] #26 closed, assigned to nobody

[2014-02-11 20:52] stenington commented on #27
Replaced by more detailed tickets.

[2014-02-11 20:52] #27 closed, assigned to nobody

[2014-02-11 21:13] iamjessklein commented on #13
cc:/ @adiladiladil

[2014-02-11 21:37] ghost commented on #13
Here is a link to a pdf that has some typeset for Discovery

https://www.dropbox.com/s/q7xz1nzmvi5byvh/BadgeKit%20Discovery.pdf

i feel the mozilla type is throwing it off a bit. if it wasn't there either left or right justified "discovery" would look natural and not too text heavy

[2014-02-11 21:59] chloeatplay commented on #13
Lets discuss tomorrow- there are many words going on here ;) Might be worth trying just Discovery.

[2014-02-11 22:12] threeqube commented on #13
Also the text "discovery" feels a little too "weak" or light here if that makes any sense.

[2014-02-11 22:14] chloeatplay commented on #40
![discovery ux_updated-09](https://f.cloud.github.com/assets/1945209/2142799/e6360aba-9369-11e3-82db-0588593ce071.png)

[2014-02-11 22:14] #40 closed, assigned to chloeatplay

[2014-02-11 22:23] ghost commented on #13
what weight should discovery hold?
same as mozilla or somewhere in between that and how discovery looks now?

[2014-02-11 22:28] threeqube commented on #13
I should let @chloeatplay weigh in on that. Maybe best we discuss as @chloeatplay suggests?

[2014-02-11 22:31] chloeatplay commented on #13
Good question @adiladiladil :octopus: There are many ways to approach this and I think it will all be clear once we sync on top-level goals for Discovery as well as logo in tomorrows call. In the meantime, a way to think of this product is as a stand-alone project within Badgekit that holds its own weight and has a particular audience of youth (15+ and precollege). It needs to somehow convey it is

[2014-02-11 22:49] #9 closed, assigned to chloeatplay

[2014-02-11 22:49] #10 closed, assigned to chloeatplay

[2014-02-11 22:54] threeqube commented on #15
@chloeatplay chimed in. High fidelity testing likely won't be possible until March.

[2014-02-12 01:56] threeqube commented on #59
Sorry @stenington I don't follow. Where would the "I earned this" button be?

[2014-02-12 06:21] threeqube commented on #18
:+1:

[2014-02-12 16:11] stenington commented on #51
I'm thinking this through in a bit more detail and what it will mean to mix badges and pathways in the app given that they're not both in the directory.

**Filters**
- **Featured**: Featuring a badge will mean pulling a copy or reference to it into the pathways DB. This is fine because it already happens with pathways, which point to BadgeClass nodes that will at least reference a badge class in t

[2014-02-12 19:52] threeqube commented on #51
@stenington Should we rethink whether we should include pathways in the directory too?

[2014-02-12 22:55] #18 closed, assigned to nobody

[2014-02-12 22:55] #20 closed, assigned to nobody

[2014-02-12 23:00] stenington commented on #51
Discussed this offline a bit; it's a question we can raise in the directory repo, but it feels like it would have some pretty far-reaching implications to me. Even if we did add them to the directory though, I think it would be a read-only sort of thing and the discovery project would need its own representation so whether we do or not doesn't have a huge impact on moving this project forward for

[2014-02-13 18:50] stenington opened #86 "Organize tickets"
We're working to organize tickets into 2 or more releases, the first tightly constrained to be doable before June 1 and the second _hopefully_ achievable by then as well.

We'll probably take a "clickable wireframe" approach to v1, building out the front-end but using dummy data. Waiting to hear from @chloeatplay to see if we want to trade off some front-end pages or features for a slightly more s

[2014-02-13 20:53] ghost commented on #13
I'm attaching two links to some thoughts I had for the Discovery splash page

Because it's for a younger audience, I chose to use primary colors. It says education, fundamentals, building blocks and the classroom.

It's a scrolling splash page separated into three sections.
The way discovery was described to me it sounded like pathways and the nature of how one accomplishment leads to another to a

[2014-02-14 18:54] stenington commented on #48
@chloeatplay Will the "View More" button add badges/pathways to the page, or show a different set of 8? Is the page supposed to get longer and longer with each click?

[2014-02-14 19:10] stenington commented on #48
Also, what will the "Sign Up Now" link do?

[2014-02-17 18:23] chloeatplay commented on #86
Milestones updated and tickets organized over here https://openbadges.etherpad.mozilla.org/demo-script.

[2014-02-17 23:06] chloeatplay commented on #48
@stenington a) correct the page is supposed to get longer with everyclick of the "view more"
b) Good question re: Sign Up Now ===> Initially had designed for more than persona login. For MVP lets merge login, sign up to one button that says login with persona or something along those lines. :+1: ?

[2014-02-18 16:10] stenington opened #87 "Earned badges endpoint"
We'll need an endpoint for the add badges to grid functionality that lets us get a user's earned badges from their Backpack.

[2014-02-18 16:19] stenington commented on #87
Oops, this is the same as #59.

[2014-02-18 16:19] #87 closed, assigned to nobody

[2014-02-18 16:24] #51 closed, assigned to nobody

[2014-02-18 16:30] stenington commented on #86
v1 tickets are in their respective milestones! I think this is done for now, but feel free to reopen if you disagree.

[2014-02-18 16:30] #86 closed, assigned to nobody

[2014-02-18 17:33] chloeatplay commented on #13
Hey @adiladiladil great work as discussed over phone. A note about timing; looks like we will need a final design EOW to get things moving with studio MoFo who might be able to do the coding for us. Does that seem doable? Another note on the advisory group part- aside from photos we will need to have name and job affiliation, i.e. Adil Adil- Dean of Impeccable Design at The University Of Design Wi

[2014-02-18 18:43] ghost commented on #13
that is doable

if you could get me any copy/text that is finalized as well as photos/names/job afilliations for the advisory group I can begin plugging those details in

thanks chlo!

[2014-02-18 19:13] chloeatplay commented on #13
Great-a) photos will have by EOW b) Copy by tomorrow EOD. Thanks @adiladiladil  :dancer:

[2014-02-18 21:28] stenington commented on #54
@chloeatplay I was just implementing the little user summary in the logged in landing page view (see below), and realized we don't have anywhere to collect users' names or let them set avatars yet. Persona just gives us an email address.

![screen shot 2014-02-18 at 4 25 22 pm](https://f.cloud.github.com/assets/55319/2200509/3aae8a58-98e3-11e3-95d0-40c647938f11.png)

We could add a sign up page wh

[2014-02-18 21:40] threeqube commented on #86
:+1:

[2014-02-18 21:59] chloeatplay commented on #54
Good point! I think we can do with email for now instead of full name and random avatar from a set of predefined illustrations we design. Does that make sense?

[2014-02-18 22:50] emgollie commented on #15
Hi ladies, I have been trying to update the discovery testing plan but realized that I need more details on post-March milestones. Might you be able to tell me more about the outlook after DML (where I'd love us to do discovery testing)? @chloeatplay, if you want to chat for a few minutes tomorrow I'd be happy to--it will just help me better plan towards these milestones:

Jupiter
Saturn
Uranus
Ne

[2014-02-19 00:03] chloeatplay commented on #15
@emgollie sounds great. Here is a demo script https://openbadges.etherpad.mozilla.org/demo-script that we can work from.

[2014-02-19 13:19] andrewhayward commented on #54
[Gravatar](http://gravatar.com)?

[2014-02-19 15:29] stenington commented on #54
:confetti_ball: WELCOME BACK @andrewhayward! :confetti_ball:

Yeah gravatar could be good. Looks like you can use your own default images for people who don't have one so that could be a good combo.

[2014-02-19 15:35] chloeatplay commented on #54
Weee! @andrewhayward you have the secret formula for eeevryting! :baby: :baby_bottle: :beers: :tada:

[2014-02-19 18:20] stenington commented on #76
Actually I should ask. @chloeatplay will the badge page be viewable for any badge even when logged out, or only badges a user has wishlisted or owns?

[2014-02-19 18:52] chloeatplay commented on #76
I think viewable by anyone- the difference being that when viewed by you (logged in), you can have the status showing, i.e. wishlisted, in backpack etc.

[2014-02-19 20:21] chloeatplay opened #90 "Create Copy for splash page"
Started here: https://openbadges.etherpad.mozilla.org/discovery-copy

[2014-02-19 20:21] chloeatplay commented on #90
cc/ @megcolek

[2014-02-19 20:36] chloeatplay opened #91 "Review clickable wireframes"
cc @threeqube
@stenington requested that we open a ticket to review the clickable wireframes.

[2014-02-19 20:54] stenington commented on #91
Yup. Please call out any problems you see!

Here's a few urls to hit and look over:
- Listing page: http://openbadges-discovery.herokuapp.com/
  - use the login button to log in (`blah@mockmyid.com` will get you through persona quickly) and view again
- Badge detail: http://openbadges-discovery.herokuapp.com/badges/1
  - For a badge you've earned: http://openbadges-discovery.herokuapp.com/badges/1

[2014-02-19 20:56] stenington commented on #91
My questions for @chloeatplay:
- [x] What part of the listing page should be a link to the badge page? (Badge title? Image?)
- [x] How will users log out?
- [x] Should log in also be in the header so you can log in from other pages (like the badge page)?
- [x] What will the "Sign up now" link do?

[2014-02-19 22:27] stenington commented on #91
One piece I know isn't right is the logged in user summary as discussed in #54. Right now it's just an email address in dark blue on a dark background. Not super useful.

Improving this and incorporating gravatar, etc. might roll over from this milestone. It's a bit of an orphan in our plan, so I threw it in here to get started.

[2014-02-19 22:56] stenington commented on #54
Hmm... more questions. @chloeatplay Should the # badges be wishlisted, earned, wishlisted + earned, or something else? And then I assume # pathways is the number they have pledged?

[2014-02-20 01:11] chloeatplay commented on #54
Ehemm, good question. I am not sure about this one but my instinct would be to say ==> # badges = owned , # pathways = pledged.

[2014-02-20 01:18] chloeatplay commented on #91
Will review these in detail manana;
For now answering questions above:
1) What part of the listing page should be a link to the badge page? (Badge title? Image?) ==> I think we should include your _badge display flipover css thingie_, so when you click on the square it takes you to the badge page. Title and short description would be on the flipped side. Does that work?
2) How will users logout. C

[2014-02-20 05:25] threeqube commented on #91
:+1:

[2014-02-20 05:26] threeqube commented on #54
We can also start with this and @emgollie can test it out.

[2014-02-20 06:00] threeqube commented on #76
:+1:

[2014-02-20 15:53] emgollie commented on #54
@chloeatplay and I are discussing today. The idea is that I will update the plan and the team will test together.

[2014-02-20 18:26] chloeatplay commented on #13
Hey @adiladiladil looks like we will have to cram everything together tomorrow. Photos are still on the way and copy in progress. Please use placeholder text for now and no pics. I will send those assets to the MoFo Studio team all together. Thanks again :dancer:

[2014-02-20 19:12] ghost commented on #13
wonderful. at this point, what do you need from me? the illustrator files?

[2014-02-20 19:15] chloeatplay commented on #13
Oui. Updated illustrator files, with the small tweaks we discussed over phone if possible. No head on top slide & pathways looking a bit more branching on second slide.
Merci !

[2014-02-20 19:38] chloeatplay commented on #91
Reviewed clickable wireframes :thumbsup:
Great work Mike :shipit:
one small comment- assuming that when we implement UI status of heart will change to different color etc once clicked?

[2014-02-20 20:10] zzzndr commented on #91
works perfectly here in firefox, safari & chrome (:

[2014-02-20 22:05] stenington opened #95 "Weird image offset"
This one is really weird. Seems like it only happens in Chrome, and it seems like it only happens with the server not in development mode. So maybe some mix of minification and parsing error?

![screen shot 2014-02-20 at 5 02 27 pm](https://f.cloud.github.com/assets/55319/2224147/206be0f2-9a7b-11e3-98c5-812ebe98677b.png)

[2014-02-20 22:10] #95 closed, assigned to nobody

[2014-02-20 22:12] stenington commented on #91
Thanks guys!

@chloeatplay The wishlist hearts should work now when you're logged in. Clicking them while logged out doesn't do anything yet, but I'm working on it.

[2014-02-20 22:16] stenington commented on #91
@chloeatplay Oh, and another question: should clicking "View More" below the badges/pathways display a different set of 8, or should it add more and make the page get longer?

[2014-02-20 22:56] stenington commented on #91
Never mind! Just saw the answer [here](https://github.com/mozilla/openbadges-discovery/issues/48#issuecomment-35331523).

[2014-02-20 23:09] stenington commented on #48
I think this is complete as of 156ee732d3ebe733f507e6bfb5a95c4692698544. The "view more" will happen in #50.

[2014-02-20 23:09] #48 closed, assigned to nobody

[2014-02-20 23:10] #49 closed, assigned to nobody

[2014-02-20 23:10] stenington commented on #50
This still needs the "view more" functionality before it's done. Clicking it should add badges to the page.

[2014-02-20 23:11] stenington commented on #76
I think this is done.

[2014-02-20 23:11] #76 closed, assigned to nobody

[2014-02-20 23:11] stenington commented on #77
I think this is good for now.

[2014-02-20 23:11] #77 closed, assigned to nobody

[2014-02-20 23:12] stenington commented on #55
I think we have a basic version of this ready for now. Avatars/gravatars and user stats will come later.

[2014-02-20 23:12] #55 closed, assigned to nobody

[2014-02-21 04:04] threeqube commented on #91
srsly @stenington this is awesome stuff! :100:

[2014-02-21 04:41] threeqube commented on #54
:+1:

[2014-02-21 14:10] stenington commented on #50
Done as of #100

[2014-02-21 14:10] #50 closed, assigned to nobody

[2014-02-21 14:14] stenington opened #101 "User details API endpoint"
This would return user stats as well as profile information from gravatar, etc. for display in the navbar.

[2014-02-21 14:16] stenington opened #102 "Display user details in navbar"
Display user stats, avatar/gravatar, etc. in navbar. See discussion in #54.

[2014-02-21 14:17] stenington commented on #54
I'm closing this ticket out with just the email displayed for now. Tickets #101 and #102 take care of adding in stats and avatars, etc.

[2014-02-21 14:17] #54 closed, assigned to nobody

[2014-02-21 14:17] #91 closed, assigned to chloeatplay

[2014-02-21 16:37] chloeatplay commented on #13
@adiladiladil some text here (still waiting to be reviewed) but can give you an idea. :bulb: https://openbadges.etherpad.mozilla.org/discovery-copy

[2014-02-21 17:22] chloeatplay opened #103 "Conduct All Interviews for Tech Pathways"
@LucasBlair will complete all the interviews with the tech issuers and earners. :computer: :thumbsup: :rocket:

[2014-02-21 17:24] chloeatplay opened #104 "Conduct All Interviews for Service Pathways"
@LucasBlair will interview all the service issuers and earners :cocktail: :coffee: :spaghetti:

[2014-02-21 17:26] chloeatplay opened #105 "Digitize Summit Pathways"
@LucasBlair to digitize the summit pathways that were created during our prototyping sessions :pencil: :books: :palm_tree:

[2014-02-21 17:37] chloeatplay opened #106 "Finalize Badge Types"
:facepunch: :tada: Finalize the badge types as described in google doc.

[2014-02-21 17:40] chloeatplay opened #107 "Prototype Quiz"
Prototype Quiz Content as described on ticket #12  cc @LucasBlair :question: :pencil2:

This could involve creating sketches, a google form and or paper prototypes. Cc @emgollie to include in her user testing plan #15 :pray:

[2014-02-21 17:42] chloeatplay opened #108 "Who issues badges for the June MVP?"
Starting a discussion over here. Who will be issuing the badges for the MVP? thinking out loud, but are we plan to include our partners as issuers? Or are we issuing all the badges?

cc/ @threeqube @stenington @LucasBlair @cmcavoy

[2014-02-21 17:45] chloeatplay opened #109 "Create blogpost to share process for content collection"
@LucasBlair to write blog post sharing inisghts from his process gathering info, conducting interviews and building pathways. @chloeatplay to help as needed.

[2014-02-21 17:50] chloeatplay opened #110 "Conduct All Interviews for Healthcare Pathways"
@LucasBlair to conduct all the interviews for issuers and earners within the Healthcare Industry. :hospital: :thumbsup:

[2014-02-21 17:52] chloeatplay opened #111 "Digitize Road Trip Nation Pathways"
:car: :us:  @LucasBlair can you estimate a number for these pathways when you can?

[2014-02-21 18:10] chloeatplay opened #112 "Create badges for Tech Pathways"
:computer:

[2014-02-21 18:11] chloeatplay opened #113 "Create Badges For Healthcare Pathways"
:hospital:

[2014-02-21 18:11] chloeatplay opened #114 "Create badges for Service Pathways"
:coffee:

[2014-02-21 18:15] chloeatplay opened #115 "Create Pathway FrameWork document"
We should create a document that explains the pathway framework thinking and theory. So people can use this to create their own systems. Cc @ghami @chloeatplay to contribute. Might use @zzzndr 's illustration chops for this as well.

[2014-02-21 18:17] chloeatplay opened #116 "Write White Paper"
TBD. Adding here so we don't forget we need to do this :dancer: cc/ @LucasBlair  @ghami @threeqube

[2014-02-21 19:11] chloeatplay opened #117 "Create Visual Study"
Create a visual study of the elements that go into the websites' UI :art: :triangular_ruler: :scissors: Experiment with color schemes from both splash page #13 and the attached
![screen shot 2014-02-21 at 12 53 17 pm 3](https://f.cloud.github.com/assets/1945209/2233616/f9ab9e88-9b2b-11e3-870b-72d02d305495.png)

cc @adiladiladil for good measure.

[2014-02-21 19:39] ghost commented on #13
@chloeatplay this etherpad doc won't open for me
can you resend some other way?

[2014-02-21 19:45] chloeatplay commented on #13
@adiladiladil should work now, final text ready too!

[2014-02-21 20:01] ghost commented on #13
@chloeatplay can you please seperate the FINAL FINAL copy for this

it's a bit all over the place and not entirely sure which version is the final

[2014-02-21 20:09] chloeatplay commented on #90
Final copy here cc @adiladiladil

_Text in mailing list box:_  Oh! I love this. Email me updates please

_Section 1: red_
Title: Navigate Your Potential with Open Badges
Text: Explore an ecosystem of digital badges, created in partnership with industry leaders and professionals in emerging fields such as Technology, Healthcare and Service to discover learning opportunities that are right for you.

[2014-02-21 20:09] #90 closed, assigned to chloeatplay

[2014-02-21 20:13] chloeatplay commented on #13
Clean version in issue #90 Sorry for the mixup :pray:

[2014-02-21 20:16] ghost commented on #13
here is the update

https://www.dropbox.com/s/46wx4nrm2nwffbi/Discovery%20Splash%20Page-01.jpg
not sure what you want to do about the logo

and are we still including photos of the advisory people?

[2014-02-21 20:19] chloeatplay commented on #13
The logo as I understood would be the orange one from the collection. I am happy with that solution. As per the revised wireframes those do not include any indication of what you are looking for in the first section, or the fact that pathways are not linear in the second section. I am happy to wrap this up due to our deadline if you can send me the ai. files. Thanks!

[2014-02-21 20:27] ghost commented on #13
here is a link to the ai file

https://www.dropbox.com/s/tzhgm2od9ilfh1g/Discovery%20Splash%20Page.ai

[2014-02-21 20:29] ghost commented on #13
@chloeatplay https://www.dropbox.com/s/tzhgm2od9ilfh1g/Discovery%20Splash%20Page.ai

[2014-02-21 20:31] chloeatplay commented on #13
@adiladiladil can you please provide typeface font and size, thanks!

[2014-02-21 20:38] ghost commented on #13
@chloeatplay
Title : opensans extrabold 40pt
body : opensans light 17pt

[2014-02-21 21:07] chloeatplay commented on #13
Grazie, @adiladiladil  can you send me ai. file of previous iteration as well with head?

[2014-02-21 21:39] threeqube commented on #90
:+1:

[2014-02-21 21:58] chloeatplay commented on #13
Design & assets complete. Minor changes applied to @adiladiladil 's playful design such as replacing white head with badge, moving sign up button to first frame (so we can fit mozilla tab on top) and changed shape of badges in pathway to match our standard badge shape. Also included space for names in the advisory group part.
![discovery splash page_cover-01](https://f.cloud.github.com/assets/1945

[2014-02-21 21:58] #13 closed, assigned to chloeatplay

[2014-02-21 22:00] threeqube commented on #13
Looks great! :+1:

[2014-02-21 22:12] megcolek commented on #13
This looks great!

[2014-02-22 00:38] threeqube commented on #108
hmm, really good question. Since we're curating the content and this is initially intended to be a proof of concept (albeit real live product software) release, I'm inclined to say we issue the badges but don't know what the expectations of the content partners are....

@cmcavoy thoughts?

[2014-02-22 02:16] chloeatplay opened #119 "Create UI for D4/M4 Pathway Landing Page"
@zzzndr let's elaborate on your wonderful concept studies of a map :flags:  and tackle first the pathway page  :beers: :surfer: :+1:

[2014-02-24 13:10] zzzndr commented on #117
Here are 3 different visual language studies.
Open Sans is used for the texts, choice of colors are on the Open Badges logo and the splash page.
Please take a look at the layout choices and colors.

Later i will upload the corresponding pages for the mobile layout

1.
The rollover (yellow badges) of the badge could be something like
http://tympanus.net/Tutorials/CaptionHoverEffects/index5.html
![v

[2014-02-24 15:06] threeqube commented on #117
cc/ @adiladiladil

[2014-02-24 15:23] ghami commented on #115
Have begun to put some ideas together re this in Pathway google doc under heading: Open Badges Discovery / Pathways project - Approach. Possible structure for people creating own pathways / systems could be:
1. Create pathway tree: underpinning skills (roots); core skills and attributes (trunk); specialisms (branches)
2. For each pathway (roots, core and specific branch): use Industry Competency M

[2014-02-24 15:24] ghami commented on #116
Have begun to put some ideas together re this in Pathway google doc under heading: Open Badges Discovery / Pathways project - Approach.

[2014-02-24 15:28] ghami commented on #12
Content in progress https://docs.google.com/presentation/d/1PHUJzSrB7dQ0rAdHlgzl4Dy2sqqnrCveRs9ZtQkzWn0/edit#slide=id.g2ac79fef6_06

[2014-02-24 15:46] stenington commented on #117
@zzzndr Keep in mind hover effects can be difficult for mobile, although it looks like those examples you cited do work on mobile using touch events. They fire even when I'm not intending a touch, I'm intending to scroll though, which might be a potential source of frustration.

[2014-02-24 15:47] stenington commented on #45
I think we're not responsible for this any more, right?

[2014-02-24 15:47] #45 closed, assigned to nobody

[2014-02-24 15:51] stenington opened #120 "Use canvas to draw pathways"
I think part of doing all of these pathway CW tickets is a quick exploration of whether I should be drawing pathways using a canvas, or building it with page elements in a grid.

Look in to:
- [x] canvas element support
- [x] canvas element capabilities
- [x] estimation of effort, including available canvas drag/drop libraries, etc.

[2014-02-24 16:14] zzzndr commented on #117
@stenington Ty, good points! I asumed that this could be solved with media queries? If not or it might be buggy I'll take it into account when implementing all the feedback

[2014-02-24 16:14] stenington commented on #120
Canvas [element support](http://caniuse.com/#feat=canvas) is fine for our purposes.

[2014-02-24 16:15] threeqube commented on #45
Correct. Mavis from studiomofo working on it per this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=970934

[2014-02-24 17:49] stenington commented on #117
Yep, most likely solvable with media queries! Just keep in mind that you potentially have to provide two designs (desktop & mobile) and I potentially have to write more code. :)

[2014-02-24 19:35] stenington opened #121 "Persona log in progress indicator"
In using the app on staging, I've noticed that my expectation is that I'm logged in as soon as the Persona dialog appears, which isn't actually true. There's still a round-trip to the server that needs to happen, and I think during that period we might want to show a spinner or something to keep people from clicking things that spawn yet another Persona log-in window.

[2014-02-24 19:35] emgollie commented on #107
Added as early as DML. Is that too soon @ghami? Would love your and @LucasBlair's thoughts: https://openbadges.etherpad.mozilla.org/pathways-userstories

[2014-02-24 19:36] stenington opened #122 "Favorite button log in"
When logged out, the favorite button acts as a log in button. It should also favorite the item you clicked in the first place when log in is successful!

[2014-02-24 19:36] emgollie commented on #15
Looking forward to discussing the latest iteration of the plan today during the team meeting: https://openbadges.etherpad.mozilla.org/pathways-userstories. I'd love your thoughts on whether the timing matches your development expectations. Thanks @chloeatplay @threeqube @LucasBlair @stenington @ghami.

[2014-02-24 19:57] zzzndr commented on #119
Here is the starting point of concept studies of the pathway page
1. default view
   ![pathway-adventure](https://f.cloud.github.com/assets/6721026/2250268/df8d15cc-9d8d-11e3-9d76-8d483ab025fc.jpg)
2. rearrange view which shows the grit
   ![pathway-adventure_rearrange](https://f.cloud.github.com/assets/6721026/2250271/ea216d80-9d8d-11e3-8196-edbdff8afecd.jpg)

[2014-02-24 21:01] zzzndr commented on #119
here is a link to a moodboard
http://www.pinterest.com/zzzndr/openbadges-discovery-pathways-lookfeel/

[2014-02-24 22:14] stenington commented on #62
@chloeatplay or maybe @zzzndr What should the editable view look like for changing the image, title, etc. of a pledged pathway?

[2014-02-24 22:19] zzzndr commented on #62
@stenington  @chloeatplay Perhaps it’s for the best to wait for Chloe
We haven’t talked about it yet, but perhaps she does have ideas already

[2014-02-25 05:43] threeqube commented on #15
:+1:

[2014-02-25 15:02] zzzndr commented on #117
here are the corresponding pages for the mobile layout

1.
![visualstudy1_mobile-01](https://f.cloud.github.com/assets/6721026/2258813/cea22ca2-9e2d-11e3-95b7-f63f5c145116.jpg)

2.
![visualstudy2_mobile-01](https://f.cloud.github.com/assets/6721026/2258815/d4f6aaec-9e2d-11e3-9c39-c11c44ec2f9e.jpg)

3.
![visualstudy3_mobile](https://f.cloud.github.com/assets/6721026/2258819/daf4ed1e-9e2d-11e3-80d8-

[2014-02-25 16:40] stenington commented on #120
There are some libraries like [fabric.js](http://fabricjs.com/) that add some nice capabilities to canvas like drag & drop and the ability to synchronize DOM elements with canvas objects. The main upside I think would be advanced drawing capabilities like pan/zoom and drawing node connections, if we want that. The downside is that I think we would need to write more code to manage it, because I ca

[2014-02-25 16:40] #120 closed, assigned to nobody

[2014-02-25 16:41] stenington commented on #108
I don't actually understand the question. Are you trying to discern if all badges will come from badgekit or not?

[2014-02-25 16:54] LucasBlair commented on #108
I figured we would design badges based on the interviews we have done so they fulfill the test pathways we have created. We would develop them internally possibly with badgekit. Many of the badges will be generalized with no specifics like (Graduated with B.S. badge) or (Leadership badge) to fulfill many pathways. Once all of those badges are done then we will move onto making a few extras so peop

[2014-02-25 16:56] threeqube commented on #108
@stenington ah! I get where you're coming from. So the question @chloeatplay is asking is who is the Issuer of this badge, will it be Mozilla, since we're curating the content or will it be for instance, Starbucks or EA or UPMC who we're interviewing and getting the content from.

We, Mozilla, will be inputting all the badges into BadgeKit so who do you think the issuer should be?

[2014-02-25 16:59] LucasBlair commented on #108
I think Mozilla as the issuer will be ok for most of the badges. Since we are generalizing the criteria. The more specific we get the more badges we will have to create.

[2014-02-25 17:19] threeqube commented on #108
:+1: works for me.

[2014-02-26 15:25] chloeatplay commented on #108
:+1: then, and thanks @threeqube for clarifying my question. I think down the line though we want to have official partnerships issuing these badges OR people issuing the badges. (i.e. the interviewees) Closing this issue for now, but let's keep it in mind.

[2014-02-26 15:25] #108 closed, assigned to chloeatplay

[2014-02-26 15:35] chloeatplay commented on #15
:thumbsup: this looks great to me, would move the March 31st milestone to match the Jupiter one (April 12). We can reassess then for the remaining User testing. Happy to create tickets for these @emgollie, just let me know :)

[2014-02-26 15:42] chloeatplay commented on #62
@stenington could work similarly to how you change cover-photos on facebook if that makes sense. i.e. clicking the little icon leads to a browse a file interaction. Wondering if we can use something like  filepicker.io
Does this answer your question?
I will let @zzzndr respond re: visuals for this page.

[2014-02-26 15:44] chloeatplay commented on #122
:thumbsup:

[2014-02-26 15:45] chloeatplay commented on #121
:+1:
also- with persona project being slowly closing as a Mozilla project, wondering if we should consider in the future some other sign in methods? (esp. popular with kids, like facebook etc)

[2014-02-26 16:04] chloeatplay commented on #117
Great work @zzzndr . I like the second solution but also recognize that on mobile the layout in the first solution might work best. I also like the warm colors- but I think the blue on second would allow for more clarity and the badge visuals to pop out. Still it might be fun to add some colors to it, - have you thought of combining it with some bright colors like the pallete on the tiny games app

[2014-02-26 16:05] stenington commented on #62
@chloeatplay How about for editing text?

[2014-02-26 16:12] chloeatplay commented on #62
Could open an edit pathway name box in the same page, with a cancel and save button- like this?
![detalu](https://f.cloud.github.com/assets/1945209/2272047/cdda749a-9f00-11e3-8bd4-1626bb4024fe.png)

[2014-02-26 16:23] #122 closed, assigned to nobody

[2014-02-26 16:24] stenington commented on #61
Closed with #123

[2014-02-26 16:24] #61 closed, assigned to nobody

[2014-02-26 16:27] stenington commented on #63
Almost done as of #123. Need to add:
- [x] required badge indicator

Notes and milestones to come later.

[2014-02-26 16:40] stenington commented on #63
Closed with #124

[2014-02-26 16:40] #63 closed, assigned to nobody

[2014-02-26 16:41] stenington commented on #64
Closed with #124

[2014-02-26 16:41] #64 closed, assigned to nobody

[2014-02-26 18:52] threeqube commented on #121
Other forms of authentication is something we should have a larger discussion about for sure. cc/ @cmcavoy and @iamjessklein for good measure.

[2014-02-26 19:11] threeqube commented on #108
Agreed. :+1:

[2014-02-26 21:55] emgollie commented on #15
This sounds good, change made @chloeatplay. We can discuss in more detail tomorrow when we meet to discuss with @threeqube.

[2014-02-27 15:23] chloeatplay opened #125 "Create Icons"
Design the icons for the site, i.e. hearts, pathway icons, badge icons.
We can explore using fontawesome or other open source icon libraries. For differentiating between pathways and badges as @zzzndr is starting to explore in #117 we can also create unique icons of it makes sense. I like the way DIY does the icons on top of the gallery boxes in this page: https://diy.org/completed.

[2014-02-27 15:24] chloeatplay opened #126 "Design UI for D5 / M5 Discovery Pathway Page, Pledged"
Once design of D4/M4 is finalized we can tackle this page per #119

[2014-02-27 15:25] chloeatplay opened #127 "Design UI D9, D9a / M9a, M9b, M9c Discovery Pathway Page, Add a note"
Per #119

[2014-02-27 15:26] chloeatplay opened #128 "Design UI D10 / M10 Discovery Pathway Page, Remove parts"

[2014-02-27 15:26] chloeatplay opened #129 "Design UI for D8 / M8a, M8b, M8c Discovery Pathway Page, Add badges"

[2014-02-27 15:28] chloeatplay opened #130 "Design UI for D1 / M1 & D2 / M2 Discovery Landing Page"
Use visual study as a reference for this per #117

[2014-02-27 15:30] chloeatplay opened #131 "Design UI for D3 / M3 Discovery Dashboard"
We can use the QuizUp game and/or RPG games dashboard as a reference for this one.

[2014-02-27 15:30] chloeatplay opened #132 "Design UI for D11 /M11 Discovery Badge Page"

[2014-02-27 15:31] chloeatplay opened #133 "Design UI for D6 / M6a, M6b Discovery Pathway Page, View Similar"

[2014-02-27 15:31] chloeatplay opened #134 "Design UI for D7 / M7 Discovery Pathway Page, Rearrange"

[2014-02-27 15:34] chloeatplay opened #135 "Design badge visuals top 50"
@LucasBlair will provide us with art suggestions and content. Would be interesting to incorporate new badgekit studio :dancers: cc @iamjessklein
Also @chloeatplay can help with this.

[2014-02-27 15:35] chloeatplay opened #136 "Design illustrations for final pathway framework"
A nice to have for when we deliver to Gates white paper including pathway framework. @chloeatplay would also help with this.

[2014-02-27 15:37] chloeatplay commented on #44
cc @zzzndr to help with this.

[2014-02-28 15:11] zzzndr opened #137 "sander UI title"
new screens fore review will be added here @LucasBlair @chloeatplay  #44

![my test image](https://f.cloud.github.com/assets/6721026/2295080/a404c5ee-a08b-11e3-9193-4c8f0ee10f24.png)
:+1: :traffic_light:
cc @chloeatplay

[2014-02-28 15:11] ghami opened #138 "Get feedback on quiz"
Please view #44 and provide feedback.
![badgecycleimage1](https://f.cloud.github.com/assets/6392966/2295103/e5966904-a08b-11e3-9b7c-b09050dd34b1.png) :)

[2014-02-28 15:13] LucasBlair opened #139 "The Corgi is broken"
@chloeatplay #28
![imag0957](https://f.cloud.github.com/assets/6363273/2295082/a9877872-a08b-11e3-89bc-f86389229407.jpg)
:dog:

[2014-02-28 15:16] chloeatplay opened #140 "lets github today!"
Use github to create issues @LucasBlair  based on issue #44
![test](https://f.cloud.github.com/assets/1945209/2295076/97724f54-a08b-11e3-9dbf-81972c205880.png)
:+1: :dancers:

[2014-02-28 15:23] chloeatplay commented on #140
This ticket is done! Linking to implementation ticket #96

[2014-02-28 15:23] #140 closed, assigned to zzzndr

[2014-02-28 15:31] chloeatplay commented on #140
cc hihi tehee @zzzndr

[2014-02-28 15:32] #137 closed, assigned to chloeatplay

[2014-02-28 15:32] #138 closed, assigned to LucasBlair

[2014-02-28 15:33] #139 closed, assigned to ghami

[2014-02-28 16:30] threeqube commented on #139
I approve of this ticket. :dog:

[2014-02-28 18:21] zzzndr commented on #117
Here are 2 new versions
I’m still trying to find a way to make the screens more playful, feedback is more then welcome (:

Visual study nr.4 desktop
https://redpen.io/qcbt8e

Visual study nr.4 mobile
https://redpen.io/bugvts

Visual study nr.5 desktop
https://redpen.io/nvazy1

Visual study nr.5 mobile
https://redpen.io/aoytgf

[2014-02-28 20:06] chloeatplay commented on #117
Great work @zzzndr ! I really like the color pallete :art:  on nr4. as well as the button design and playful shades. The layout on nr.5 looks cleaner in terms of the white space.
Added comments & questions in the redpens ^^

[2014-03-01 01:53] threeqube commented on #117
Added a couple comments in directly. Agree with @chloeatplay, Great work @zzzndr!

[2014-03-03 09:43] zzzndr commented on #117
The new versions can be found here!
Visual study nr.6 Desktop
https://redpen.io/ewb5xq

Visual study nr.6 Mobile
https://redpen.io/tmza7x

[2014-03-03 13:08] chloeatplay commented on #117
Thanks @zzzndr, great work =) Left my comments in the redpen. Overall I would say we are almost there =) Would keep the bevel for now (buttons too) at the end of the final study. They are great for buttons that have to do with actions in the interface, like "pledge to do a pathway" etc.

[2014-03-03 20:50] stenington opened #141 "Rework top bar/navigation"
The Foundation framework comes with an off-the-shelf navigation/menu bar solution called Top Bar that you can see here: http://foundation.zurb.com/docs/components/topbar.html

On a wide screen it has buttons and dropdowns which, on a small screen, become a hamburger menu. You can also include your site name, search inputs, etc. if you choose in the bar.

This is slightly different than the wirefra

[2014-03-03 20:52] stenington commented on #141
Note to myself for later: I'm thinking a dropdown using the Font Awesome [bars icon](http://fortawesome.github.io/Font-Awesome/icon/bars/) in wide mode, and possibly a text label in mobile view (to avoid double :hamburger:!) might bring us closer.

[2014-03-03 20:54] stenington commented on #141
I'll add this to Mars since it'd be nice to have before DML.

[2014-03-04 02:15] chloeatplay opened #142 "Design Pathway End Screen"
When you finish a pathway you should get an ending screen. :scream_cat:

[2014-03-05 15:54] zzzndr commented on #117
New versions can be found here:

desktop
https://redpen.io/rd5xfe

mobile
https://redpen.io/q39rnc

Please pay specific attention to how the logo’s of the badge creators are positioned, there is a different design for the pathways & badges only to show us both options (:

[2014-03-05 17:45] zzzndr commented on #117
here is a new version:
https://redpen.io/p24rhw

[2014-03-05 22:58] stenington commented on #141
There will be some more changes when we implement the final UI, but #143 does away with the top bar so I think it's more flexible and we can deal with it then.

[2014-03-05 22:58] #141 closed, assigned to nobody

[2014-03-05 23:18] chloeatplay commented on #107
First prototype for Quiz over here https://docs.google.com/forms/d/1sjikzL8PV-E9cIf-_Vv51zFcnpiWlkhsJKwqyiCWae4/viewform  We will gather feedback at DML and provide suggestions for the next iteration :balloon: cc/ @ghami @emgollie

[2014-03-06 00:18] threeqube commented on #107
Yay! :dancer:

[2014-03-06 05:34] emgollie commented on #107
Thanks @chloeatplay @ghami! A few thoughts upon reviewing:
1. I think we can shorten the intro paragraph to get participants into the survey faster. I'll take a stab at shortened language in the AM.
2.  I would re-phrase the first prompt "I want a career that mostly allows me to" to "The #1 most important thing to me in my future career is..."
3. On the second question, I would edit "I might like

[2014-03-06 14:47] chloeatplay commented on #16
@LucasBlair  user personas are complete correct? Can you create a wiki page for them? Then I can close the ticket. Thanks! :balloon:

[2014-03-06 14:50] chloeatplay commented on #107
Thanks @emgollie for comments, implemented in google form. For 13, I am going to rely on @ghami 's input.

[2014-03-07 09:13] zzzndr commented on #119
@chloeatplay  @stenington @threeqube

Last monday at the weekly meeting I understood the pathway section of the pathway page will be zoomable & pannable.

I’ve been pondering why as a user I would want to zoom the pathway page, but I can’t find a good reason to do so apart from zooming out to get a complete overview of the entire pathway.

Can somebody explain me why? (:

Also, that does imply the

[2014-03-07 14:07] chloeatplay commented on #119
@zzzndr I think you pinpointed exactly what functionality would suit a zoom out function :) The idea of looking at your pathways' overview is a very powerful one. In the meantime, please keep in mind that for mobile this  page should probably be 3 rows wide (ala duolingo) since otherwise it becomes crowded.

[2014-03-07 14:17] zzzndr commented on #119
@chloeatplay aah, ty. so just to be sure, we're not talking about googlemaps style zooming right?
more like 2 levels?

[2014-03-07 17:05] zzzndr commented on #119
here are a few concept sketches for the desktop

• variation header with green / blue zelda landscape

dark background
https://redpen.io/qot5fj

dark background, nodes instead of grid (would only be visible in rearrange mode)
https://redpen.io/wbzoex

dark background, possible popup
https://redpen.io/5e72du

dark background, another popup variation
https://redpen.io/hm4aw6

• variation header with

[2014-03-07 17:38] threeqube commented on #119
These are super cool Sander! Added a couple comments directly via redpen. :tangerine:

[2014-03-07 20:50] emgollie commented on #107
![screen shot 2014-03-07 at 3 46 07 pm](https://f.cloud.github.com/assets/1174853/2362131/0f338db0-a63a-11e3-80c2-3c9373371652.png)
@ghami @threeqube: @chloeatplay and I worked on tighten this up slightly so we can send it to a few organizations (and their teens) next week. @ghami, we wondered if you could tell us about the question asked here? I wonder if we need a few other options as these don'

[2014-03-08 00:12] zzzndr commented on #119
Here are 2 new variations (:

• variation header with green / blue zelda landscape
The header is now more detailed & refined + orange is here the colour for the icons
https://redpen.io/vcs7xq

• variation header with sand coloured landscape
Tried to make the overall atmosphere to be less like a treasure map + added arrows pointing downward on the dashed lines in the pathway background
https://redp

[2014-03-08 13:58] ghami commented on #107
The quiz prototype isn't really matching some of the functionality I had envisaged for the quiz as a lot of it is intended to enable choosing more than one answer. This would then be stacked behind the scenes to show highest level choice within the context of a range of choices. In this particular question though this intending to be a deeper dive based on a previous choice, with the intention bei

[2014-03-10 14:14] stenington opened #144 "Swappable badge/pathway source"
In the current planned architecture, the discovery app uses the directory as a source of badge classes, and itself as a source of pathways (either defined manually by us or built by a user using the tool). The idea was floated around at DML that maybe the discovery app could also interchangeably use an instance of badgekit as its source of badges and presumably pathways as well (that would be defi

[2014-03-10 14:41] threeqube commented on #144
cc/ @cmcavoy

[2014-03-10 14:49] chloeatplay commented on #119
@zzzndr The above screens are :top: !! I left some comments in the redpens, would also try a version with a white background to see how it looks. :white_circle: :white_large_square: :eyes:

[2014-03-10 15:41] stenington commented on #144
I think there's also a question of how front-end pieces get integrated into other sites, or whether they do at all. I wonder if the notion is to expose the same API that the discovery app uses to a badgekit user so they can build their _own_ front-end on top of the badges and pathways, or more to provide ready-made widgets they can put on the site they have to build.

Also as a note, I don't think

[2014-03-10 15:50] zzzndr commented on #119
here is the variation of the header with green / blue zelda landscape with a light background
https://redpen.io/qzwk16

[2014-03-10 20:08] jpcamara commented on #144
It's an interesting concept - definitely needs a lot more definition though.
- What will the api look like?
  - Will badgekit and directory both conform to an api that is consistent and standard?
- Will pathways have to create two swappable modules for api integration depending on if it's badgekit or directory?
- Would adding pathways to badgekit dilute the purpose of badgekit or enhance it?
- If

[2014-03-11 15:03] stenington opened #145 "Tabzilla not doing it's tabzilla thing"
Currently the js isn't even included, because when it was it wasn't working.

I suspect dynamically rendering the bulk of the page is screwing tabzilla up.

[2014-03-11 17:36] iamjessklein commented on #145
nice ticket name.

[2014-03-11 23:20] emgollie commented on #107
@ghami @chloeatplay Thanks very much for talking today! I did a bit more research into Holland codes and revised some of the question phrasing. It's good to know we can provide more response options, and I changed a few of the question formats to checkboxes vs. multiple choice. I do think we would want to combine a few of these questions to a single page so the quiz doesn't feel so lengthy.

I'm s

[2014-03-12 00:44] zzzndr commented on #119
Here is the version with the white background
https://redpen.io/v8kd3j

Here are 2 screens of how the pathway page might look like on mobile
I didn’t have time yet to optimise the header illustration for mobile

mobile pathway page with 3 columns of badges
https://redpen.io/u738y6

mobile pathway page with 2 columns of badges
https://redpen.io/pbj26v

[2014-03-12 02:42] chloeatplay commented on #107
Thanks @emgollie and also wonder as mentioned earlier today re: how do responses connect with potential future badges? I think we should first make an effort to connect these responses to "attribute" badges in order to have a functional quiz.

[2014-03-12 10:25] zzzndr commented on #119
here are a few more options for the pledged ribbon in the header
https://redpen.io/qv872h

[2014-03-12 13:17] zzzndr commented on #129
Here is the screen for desktop.
Later i will upload the corresponding pages for the mobile layout.

https://redpen.io/8cd2bs

[2014-03-12 13:19] zzzndr commented on #128
Here is the screen for desktop.
Later i will upload the corresponding pages for the mobile layout.

https://redpen.io/ygprq4

[2014-03-12 13:21] zzzndr commented on #127
Here is the screen for desktop.
Later i will upload the corresponding pages for the mobile layout.

D9
https://redpen.io/bu1cea

D9A
https://redpen.io/y5vtho

[2014-03-12 13:24] zzzndr commented on #119
Here is the actual screen for D4 desktop (:
Later i will upload the corresponding pages for the mobile layout.

https://redpen.io/ouky7b

[2014-03-12 14:13] zzzndr commented on #128
ty for the feedback!
here is a new version, I thought about it before, but was doubting, because it might mean a lot of extra work for @stenington?

https://redpen.io/e6c2rt

[2014-03-12 15:01] zzzndr commented on #119
here are updated versions of the sandcoloured rpg map & refined header of the treasuremap

rpg map, sand coloured
https://redpen.io/8zujwn

treasuremap
https://redpen.io/ayswxp

[2014-03-12 15:05] zzzndr commented on #129
here is the updated version:
https://redpen.io/h6pmt8

[2014-03-12 17:09] ghami commented on #107
I wondered if drilling into the data in criteria in badges as well as potentially trying to encourage use of one of the six Holland Codes, where appropriate, could help link future badges to responses from the quiz. Will be able to add Holland Code info to some of the badges that have come out of the interviews tomorrow. Happy to talk though now as Emily suggests, if you want?

[2014-03-12 17:40] ghami commented on #107
Should have mentioned you both in last comment @chloeatplay @emgollie ! Still getting used to GitHub!

[2014-03-12 20:16] stenington commented on #128
@chloeatplay @zzzndr

I have a question about the `Save` and `Cancel` controls. Some of the stuff I'm using internally makes it really easy to do stuff without having to have a separate save button, so for example you could click `Remove parts` to expose the trash can buttons, but then clicking them could just remove the item immediately instead of marking it for deletion later.

If you feel the `

[2014-03-12 21:27] zzzndr commented on #128
@chloeatplay @stenington

Good to know, ty!

Am i correct the storybit is only saved on a specific pathway?
And that the content of the storybit will be gone for good after it is deleted?

If so i would feel better to have a save / cancel button and as a user I would feel more comfortable with a confirmation popup asking if i _really_ want to delete my storybit (:

Good to know about the functiona

[2014-03-12 21:32] stenington commented on #128
@zzzndr Ok yeah, that makes sense. Confirmation dialogs with a cancel option are probably easier to build than some sort of generic "undo".

[2014-03-12 21:54] chloeatplay commented on #117
:thumbsup: Closing this issue now :tada:

[2014-03-12 21:54] #117 closed, assigned to zzzndr

[2014-03-12 22:01] #105 closed, assigned to LucasBlair

[2014-03-12 22:01] #106 closed, assigned to LucasBlair

[2014-03-12 22:12] threeqube commented on #117
:+1:

[2014-03-12 22:13] zzzndr commented on #117
woop!
Does it make sense to create a wiki page?

[2014-03-12 22:17] threeqube commented on #117
@zzzndr yes please! Something here would be great! https://github.com/mozilla/openbadges-discovery/wiki/_pages

[2014-03-12 22:45] chloeatplay commented on #117
@threeqube @zzzndr yay for wiki pages, but lets create them once we have finalized designs and closed these issues. Right now designs are still in process so wiki pages might not reflect final designs :art: :squirrel:

[2014-03-12 23:01] ghami commented on #107
Thanks @chloeatplay and @emgollie for very, very helpful chats over last couple of days! I've made a first attempt at adding Holland Code tags to each of the badges in the pathways doc https://docs.google.com/document/d/1qrHwseb1voltzhr_vDIB80L3jJxHHfUKnMXmZxytyDo/edit#heading=h.iqke3r16eztg to see if I could use them to make useful categorisations. I found I was able to make fairly easy choices b

[2014-03-12 23:49] threeqube commented on #117
Totes. :+1:

[2014-03-13 09:11] zzzndr commented on #119
Realised last night that we haven't tried the treasuremap with green colours, so here it is:
https://redpen.io/bn29rd

[2014-03-13 15:36] zzzndr commented on #128
an updated version can be found here
https://redpen.io/r4te5f

[2014-03-13 16:12] zzzndr commented on #119
Here is an update of the actual desktop screen
https://redpen.io/89pdua

mobile screen
https://redpen.io/7uz4po

[2014-03-13 18:44] stenington commented on #66
@chloeatplay @zzzndr Will the rearrange functionality also have `Save` and `Cancel` options?

[2014-03-13 19:21] zzzndr commented on #66
I think the interaction would be easier without the save & cancel button & you can't destroy anything by rearranging right?

[2014-03-13 19:23] chloeatplay commented on #66
+1 @zzzndr , i think in general we want to avoid extra clicks as much as possible :baby_chick:

[2014-03-13 20:15] chloeatplay commented on #116
@ghami :thumbsup: added comments to the doc.

[2014-03-13 21:55] stenington commented on #66
Ok I did a spike on this and pushed the code to [heroku](http://openbadges-discovery.herokuapp.com). You'll see that when you pledge, the url changes from something like `/pathway/3` to `/pledged/3` and the tiles become draggable.

[2014-03-13 21:56] stenington commented on #66
I'd like to bring the code into the main repo more cleanly than the spike does though, with tests, so no PR yet.

[2014-03-13 22:11] chloeatplay commented on #66
Just played around with it, :white_large_square: :white_medium_small_square: :white_large_square: :white_large_square: :point_right:  super cool :sunglasses:   !!

[2014-03-13 22:59] zzzndr commented on #66
Tested with safari, firefox & chrome on my laptop & it works like charm! very nice ((:
on my iphone with ios7 it works also perfectly  \o/

don't know if this is the right place, but when i go to heroku on my ipad3 only a light grey empty page is visible (:

[2014-03-13 23:21] threeqube commented on #66
Super cool! :+1: having fun playing with this on my mobile while on the plane! :tada:

[2014-03-14 21:30] zzzndr commented on #119
@stenington Do you see potential technical issues with this design?

Here is the new navigation design for the pathway page.
https://redpen.io/xkct39

Here is design rollover navigation button.
https://redpen.io/rzj1of

Here is a proposal for the position of the navigation menu.
https://redpen.io/re4t5j

[2014-03-14 22:01] threeqube commented on #119
Ooh, I like! I like how it feels more integrated with the pathway grid.

[2014-03-17 11:29] zzzndr commented on #119
Here is a new screen with an updated navigation menu & larger pledged text in the header
https://redpen.io/wv8hjz

[2014-03-17 14:55] zzzndr commented on #129
Here is the updated version where the navigation menu is removed
https://redpen.io/4qmtr2

[2014-03-17 15:59] zzzndr commented on #127
Here are new screens with an updated navigation menu

D9
https://redpen.io/uhxfky

D9a
https://redpen.io/7ca4u6

[2014-03-17 17:03] zzzndr commented on #127
here are 2 new variations of the navigation menu
https://redpen.io/eusyoc

[2014-03-17 19:57] zzzndr commented on #128
Here is the new screen for desktop
https://redpen.io/1m5yuk

confirmation popup
https://redpen.io/5a9qv4

[2014-03-17 21:49] zzzndr commented on #128
here are new screens for desktop & mobile

D10
https://redpen.io/12euyt

D10a
https://redpen.io/4mn28o

M10
https://redpen.io/5qv3ka

[2014-03-17 22:10] zzzndr commented on #127
here is the updated screen for the desktop + open menu without the icons
https://redpen.io/6rtakj

[2014-03-17 22:25] chloeatplay commented on #103
I believe this is complete, aside from a few extras. @LucasBlair let me know if you want to close the issue.

[2014-03-17 22:25] chloeatplay commented on #104
Moving to a further milestone @LucasBlair

[2014-03-17 22:42] chloeatplay opened #147 "Create UI assets folder for Pathways Page."
cc @stenington

[2014-03-17 22:45] zzzndr commented on #125
Here is a list of the icons, did I miss any?

icons on top of badges
- wishlisted (heart)
- pathway
- badge

navigation menu pathway
- Personalise (mobile only)
- View Similar
- Add badges
- Add a note
- Remove parts

pathway badge icons
- Core badge
- Goal badge

[2014-03-17 22:46] chloeatplay commented on #125
:thumbsup:

[2014-03-17 22:48] chloeatplay commented on #134
With @stenington 's awesome rearrange feature now included from the gecko this is no longer needed. Yay! cc @zzzndr

[2014-03-17 22:48] #134 closed, assigned to zzzndr

[2014-03-17 22:49] zzzndr commented on #134
\o/

[2014-03-17 22:50] chloeatplay opened #148 "Design illustrations for cross-career badges"
With the help of @zzzndr
Reference http://designspiration.net/data/l/766531192643_tF0nth8J_l.jpg
Content in #149

[2014-03-17 22:57] chloeatplay opened #149 "Create cross-career badges"
cc @LucasBlair @ghami
first pass (still working on making these not-cute animals for the purposes of this audience):
    Cheetah: (Resilience) You cope well with difficulties and face demanding situations in a spirited and resilient way.
    Eagle: (Self-Control) You feel like you have control over your life and decisions.
    Hummingbird: (Zest) You are excited and engaged about your work.
    Be

[2014-03-17 22:58] #149 closed, assigned to chloeatplay

[2014-03-17 22:58] zzzndr commented on #119
here is a sample with a circular navigation menu
https://redpen.io/aecw3k

[2014-03-17 22:59] #16 closed, assigned to LucasBlair

[2014-03-17 23:13] zzzndr commented on #119
here another possible sollution for the navigation menu I didn't think of before
https://redpen.io/8n7vqp

[2014-03-17 23:21] LucasBlair commented on #103
Yes we are getting close. Still have to do Brian and meet with the TopCoder folks. The rest I believe we can fill in with industry research.

[2014-03-17 23:22] LucasBlair commented on #104
Probably a good idea until we nail down Sodexo and UPMC.

[2014-03-17 23:40] zzzndr commented on #119
here is the updated screen for mobile with the nodes visible
https://redpen.io/spm67h

[2014-03-17 23:48] threeqube commented on #119
I really like the last one: https://redpen.io/8n7vqp but defer to @chloeatplay's expert thoughts. :koala:

[2014-03-17 23:56] zzzndr commented on #119
updated screen for desktop & mobile!

desktop
https://redpen.io/7sx8bv

mobile
https://redpen.io/tmsu4w

[2014-03-18 13:58] zzzndr commented on #119
Here are updated screens for desktop and mobile:

D4
https://redpen.io/7sx8bv

M4
https://redpen.io/odenvr

[2014-03-18 13:58] zzzndr commented on #126
Here are updated screens for desktop and mobile:
D5
https://redpen.io/yvafwq

D5 rollover
https://redpen.io/r3wse6

M5
https://redpen.io/8aosu1

[2014-03-18 13:58] zzzndr commented on #129
Here are updated screens for desktop and mobile:

D8
https://redpen.io/4qmtr2

M8a
https://redpen.io/5p9osr

M8b
https://redpen.io/kpr6m5

M8c
https://redpen.io/8xdvt3

M8d
https://redpen.io/nz36h7

[2014-03-18 13:58] zzzndr commented on #127
Here are updated screens for desktop and mobile:

D9
https://redpen.io/sq4th3

D9a
https://redpen.io/4sydz6

M9
https://redpen.io/9b85g3

M9a
https://redpen.io/htcesu

[2014-03-18 13:58] zzzndr commented on #128
Here are updated screens for desktop and mobile:

D10
https://redpen.io/12euyt

D10a
https://redpen.io/4mn28o

M10
https://redpen.io/kf8ncs

M10a
https://redpen.io/k3tygf

[2014-03-18 18:18] ghami commented on #12
Content created. Quiz prototype continued at #107

[2014-03-18 18:18] #12 closed, assigned to ghami

[2014-03-18 19:27] ghami commented on #107
Screen prototype content at: https://openbadges.etherpad.mozilla.org/discovery-quiz

Logic and reduced content (based on feedback from DML user testing) for prototype at https://docs.google.com/presentation/d/16_7SNBsUCUXFHAA0m_Wsz9jTjgu3HAUOpWnL_kU37FY/edit#slide=id.g1d4cccd23_1267

Logic/content doc does include O*Net job families which might be dropped for MVP as they contain industries we're n

[2014-03-18 20:12] stenington opened #150 "Size-dependent pathway rendering algorithm"
It looks like we're going with a 6-wide grid on desktop and 3-wide grid on mobile, which does make aesthetic sense. (3-wide on desktop either has huge badges or a lot of wasted space.) A very simple algorithm would be something like:

![screen shot 2014-03-18 at 4 06 15 pm](https://f.cloud.github.com/assets/55319/2453008/feb834f2-aed8-11e3-9db6-61544174ced5.png)

That could provide a starting poin

[2014-03-18 21:37] chloeatplay commented on #119
:thumbsup:

[2014-03-18 22:25] zzzndr commented on #127
M9
https://redpen.io/cz7rbw
New cleaner design with only a hamburger menu

I’ve also updated #129 M8a for us to show this design on a non-pathway page.

[2014-03-18 22:25] zzzndr commented on #129
M8a
https://redpen.io/ok5g4n
New cleaner design with only a hamburger menu

I’ve also updated #127 M9 for us to show this design on a pathway page.

[2014-03-19 00:32] threeqube commented on #119
:+1: I think we're getting close to needing a wiki that curates all these screens so they're contextualized...

[2014-03-19 11:45] zzzndr commented on #126
Here is an updated screen for mobile:

M5
https://redpen.io/cmhy1w

[2014-03-19 11:45] zzzndr commented on #129
Here are updated screens for mobile:

M8a
https://redpen.io/vhswc9

M8b
https://redpen.io/8avuf4

M8c
https://redpen.io/ce3sv9

M8d
https://redpen.io/5bwqen

[2014-03-19 11:45] zzzndr commented on #127
Here are updated screens for mobile:

M9
https://redpen.io/52phzx

M9a
https://redpen.io/rsn7uj

[2014-03-19 11:45] zzzndr commented on #128
Here are updated screens for mobile:

M10
https://redpen.io/amhy94

M10a
https://redpen.io/c2zx68

[2014-03-19 15:02] zzzndr commented on #125
Here is an overview of the icons, please pay extra attention to the pathway & badge icon, they are  _new_ (:
https://redpen.io/4bf1j2

[2014-03-19 15:39] zzzndr commented on #125
here is an updated overview of the icons:
https://redpen.io/rokh5w

[2014-03-19 15:51] chloeatplay commented on #129
:thumbsup: good to close

[2014-03-19 15:51] #129 closed, assigned to zzzndr

[2014-03-19 15:52] chloeatplay commented on #127
:thumbsup: good to close :tada:

[2014-03-19 15:52] #127 closed, assigned to zzzndr

[2014-03-19 15:52] chloeatplay commented on #128
:thumbsup: good to close

[2014-03-19 15:52] #128 closed, assigned to zzzndr

[2014-03-19 15:53] chloeatplay commented on #126
:+1:

[2014-03-19 15:54] chloeatplay commented on #119
fab work, good to close :thumbsup: @threeqube next step is wikification :smile_cat: and #147

[2014-03-19 15:54] #119 closed, assigned to zzzndr

[2014-03-19 16:52] zzzndr commented on #125
Here is a new overview of the icons:
https://redpen.io/tmas2u

[2014-03-20 09:48] zzzndr commented on #125
Here is a new overview of the icons:
https://redpen.io/nkj8y9

[2014-03-20 16:22] chloeatplay commented on #125
:thumbsup: let's close this issue for now :)

[2014-03-20 16:22] #125 closed, assigned to zzzndr

[2014-03-20 23:40] zzzndr commented on #147
@stenington @chloeatplay

Copied graphis, screenshots & pdf's with margin info etc to the shared dropbox folder

Send an email with a few questions to Mike, will add the rest of the graphics as soon as possible

[2014-03-21 15:46] chloeatplay commented on #147
:thumbsup:

[2014-03-21 15:46] #147 closed, assigned to zzzndr

[2014-03-21 16:19] stenington commented on #66
@zzzndr hmm, light grey empty page probably means there's a bug in the javascript. :( I'll open a separate ticket for it.

[2014-03-21 16:20] stenington opened #153 "pathway editor not working on ipad3"
@zzzndr reported in #66 that he's just getting a blank page.

[2014-03-21 16:21] stenington commented on #66
Okay I think this is closable. Some remaining details have been broken out into #150 and #153.

[2014-03-21 16:21] #66 closed, assigned to nobody

[2014-03-21 16:22] stenington commented on #68
This is basically working, although the dummy data is sloppy. The list of addable items includes pathways right now, and the page doesn't filter for items you have already added.

[2014-03-21 16:23] stenington commented on #68
Oh, newly added badges also aren't marked with a "new" flag or anything yet.

[2014-03-21 16:37] stenington opened #154 "Make pledged pathway details editable"
The pathway name and description should be editable for a pledged pathway.

For more info see discussion in #62.

[2014-03-21 16:38] stenington commented on #62
I opened #154 to continue this work. The pledged pathway page exists and works otherwise, so I think this is closeable.

[2014-03-21 16:38] #62 closed, assigned to nobody

[2014-03-21 16:40] stenington commented on #65
A little bit of this work will roll over into #154 but otherwise the basics are there!

[2014-03-21 16:40] #65 closed, assigned to nobody

[2014-03-21 17:21] stenington opened #155 "Pledged pages still visible and editable when logged out"
Oops.

[2014-03-21 17:24] stenington commented on #68
@chloeatplay and @zzzndr When does the "new" indicator go away? Do they have to move the badge or something?

[2014-03-21 17:25] threeqube commented on #65
:tada: woot!

[2014-03-21 18:20] chloeatplay commented on #68
Hmm, good question, maybe it stays there for a set period of time or till they log in again?

[2014-03-21 18:24] chloeatplay commented on #62
:thumbsup:

[2014-03-21 18:45] stenington commented on #68
Ok, I just made it so that the indicator goes away when they click the badge, but that can be changed if necessary.

[2014-03-21 18:45] stenington commented on #68
THIS IS CLOSEABLE! :fist:

[2014-03-21 18:45] #68 closed, assigned to nobody

[2014-03-21 18:46] stenington commented on #68
The code has not been merged, but has been pushed to http://openbadges-discovery.herokuapp.com

[2014-03-21 19:38] threeqube commented on #68
Whoa! So many new features to play around with!!!! :koala: :frog:

[2014-03-23 19:50] chloeatplay commented on #107
Prototype created :tada: https://docs.google.com/a/varelidi.com/forms/d/1T0FqgLKYw0cLUPvxirTZ2UIvOJHVZYtC71cU8jU1I24/viewform
Includes 3 sections to test different approaches a) Holland Codes (with animated gifs) b) O*Net & Cross-career badges (sans images) c) Badges (link directly to content). This last section for now is populated with fake data from the pathway doc for the purposes of the quiz.

[2014-03-23 19:50] #107 closed, assigned to chloeatplay

[2014-03-24 15:27] stenington opened #158 "performance testing"
I'm starting in on a little performance testing. I learned about [gremlin.js](https://github.com/marmelab/gremlins.js) and ran it against the front-end, seems like maybe I'm not disposing of views correctly somewhere.

Anyway, treat this ticket as a discussion ticket where further tools/practices/lessons can be dumped.

[2014-03-24 21:13] zzzndr opened #159 "Create edit mode for storybits after they have been created"
@chloeatplay @stenington

[2014-03-24 21:38] stenington commented on #159
@zzzndr Can you say a little more about what this ticket entails?

[2014-03-24 21:45] stenington opened #160 "Mars cleanup"
A couple of simple-ish things that were noticed in the post-Mars demo:
- [x] usernames shouldn't be links in the upper right when logged in
- [x] visually indicate core badges
- [x] put an 'unimplemented' alert on the quiz button
- [ ] ~~put wishlist on user item and use the real wishlist (even with fake data)~~
- [x] change cursors as appropriate to provide minimal user feedback

[2014-03-24 21:46] stenington commented on #160
I'm adding this to Jupiter without knocking another ticket out. I think there's enough wiggle room for that.

[2014-03-24 21:47] stenington opened #161 "Mobile scrolling a full pathway"
I've noticed an issue on mobile... when you're on a pledged pathway, you have to put your finger down somewhere where the background is visible to scroll. On a full pathway, it's possible that there's nowhere to place your finger to start a scroll motion without it being interpreted as moving that badge (which does not scroll the screen).

[2014-03-24 21:47] zzzndr commented on #159
@stenington after you have added a storybit there is no way to edit the content of the storybit. we haven't created wireframes for this functionality

I know I would make a ton of typo's, so editing would be great!

[2014-03-24 22:12] stenington commented on #159
Ooooooh, yep. I can see that as a problem. :)

[2014-03-24 22:14] stenington commented on #161
Hmm, this isn't totally true. I tried again and found there's a bit of space at the edge of the screen I can always use, but it's tough.

[2014-03-25 14:28] chloeatplay opened #162 "User Test Quiz"
@emgollie will user test quiz so we can improve and iterate on cc @chloeatplay @ghami

[2014-03-25 15:06] emgollie commented on #162
Drafting updated testing plan here: https://openbadges.etherpad.mozilla.org/pathways-userstories

If we reach out to the teens we suggested in the discovery meeting a few weeks ago, I think we'll be able to hit the goal of 30 respondents within a few days. I'm making a few language suggestions to the quiz so we can begin distribution. cc @threeqube @LucasBlair

[2014-03-25 15:46] stenington commented on #160
Hmm, the wishlist thing is slightly larger. I'll make it its own ticket and PR.

[2014-03-25 15:48] stenington opened #164 "Put a user's backpack and wishlist on the user model"
A user's backpack and wishlist should probably be accessible through the user model, and initialized when the user object is initialized.

[2014-03-25 15:51] stenington commented on #159
I think the code portions of this really wrap into #79 and #80 which are set for the next milestone after this one, so I'm just taking the "Code" tag off this and considering it a design ticket.

[2014-03-25 16:32] stenington commented on #164
Ah ok, working this through I remembered why it might not actually make sense.

I'm not certain if it makes sense to pull over a user's _entire_ wishlist and backpack and do pagination in the client, or if the front-end will only ever hold part of the entire collection at any time. In the former case favoriting a badge or pathway could add it to a wishlist collection which then handles updating th

[2014-03-25 16:39] #160 closed, assigned to nobody

[2014-03-25 16:51] stenington opened #165 "Mobile drag interaction feels slow"
In playing around with the pathway editor on mobile, it seems a bit slow to respond to drags and even taps. I'm vaguely aware that certain events fire more slowly than others, but this might be something to look into and optimize later.

[2014-03-25 17:08] jpcamara commented on #165
Only clicks have that issue, and fastclick is my goto for that issue. Seems you have it installed already, just need to attach it to the dom.

[2014-03-25 17:18] chloeatplay commented on #159
:thumbsup: I will reassign to me as a UX ticket

[2014-03-25 17:43] threeqube commented on #162
Plan looks good to me! :+1:

[2014-03-25 17:47] LucasBlair commented on #162
Looks good. I added another opportunity to connect with students (Randolph High School Option II) I met the director at the Summit.

[2014-03-25 19:41] emgollie commented on #162
Thanks @LucasBlair. @chloeatplay, I added a few thoughts on language in that pad--if you are good with changes, I think we can start getting people to the quiz.

[2014-03-25 22:01] stenington opened #167 "pathway editing undo"
It looks like there might be some drop-in undo libraries like http://backbone.undojs.com/ that might make adding undo quite easy, if that's preferable to the "Are you sure?"-style dialogs.

[2014-03-25 22:56] zzzndr commented on #133
Here are the screens for D6, the mobile screens will follow!

D6 a
https://redpen.io/63129p
- Clicking anywhere on the badge will open the badge popup with info (D6 b)
- Clicking on the checkbox in the top right corner of a badge will select the badge immediately & will bring you to D6 c

D6a variant 2
https://redpen.io/kt572z

Like D6 a, only difference is the ‘i’ in the top left corner of a badg

[2014-03-26 00:41] chloeatplay commented on #167
yAh!! Undo is much better than are you sure :pray:

[2014-03-26 17:00] zzzndr commented on #133
Here are a view possibilities for an information text overlay
https://redpen.io/tarnjx

[2014-03-26 17:15] zzzndr commented on #133
here is an updated version (:
https://redpen.io/src7of

[2014-03-26 21:11] zzzndr commented on #130
Here are a few quick experiments how the pathway on the landingpage could be different compared to the badges

https://redpen.io/prjafo

[2014-03-26 23:14] zzzndr commented on #130
Here are 2 new versions:

3D qubes for the pathways, flat hexagons for the badges
https://redpen.io/d4pwtc

3 small hexagons for the pathways, 3D hexagons for the badges
https://redpen.io/kya62o

[2014-03-26 23:46] zzzndr commented on #130
updated version with lines between the pathway hexagons
https://redpen.io/9qn1o8

[2014-03-27 00:28] zzzndr commented on #133
Here are the mobile screens:

M6a
https://redpen.io/qh14tf

M6b
https://redpen.io/b37u89

[2014-03-27 16:59] zzzndr commented on #133
updated mobile screen M6a
https://redpen.io/352fqk

[2014-03-28 00:16] zzzndr commented on #130
Here are screens for D1 & M1:

The visual in de background of the header is still needs to be refined
The river represents a pathway, at first I can imagine that the badges and story bit icons will be pat of the header image, perhaps later they can be actual badges, loaded at random or most/least popular and real storybit icons

D1
https://redpen.io/qh5bzx

M1 variant 1
https://redpen.io/s4c5fq

m

[2014-03-31 13:20] zzzndr commented on #131
Here is a list with possibilties to get started with this page.
I think option A is the least complicated / time consuming?

A) A minimum amount of functionality
- Select 1 pathway from the dashboard page to be highlighted in the header
- Show per category (users own/have wishlisted at least 1 badge of that category) how many badges are earned and/or wishlisted

B) A Bar graph which contains all t

[2014-03-31 15:13] zzzndr commented on #132
Here is the screen for the desktop
https://redpen.io/748hwn

To have a consistent look the header is a different variation from the pathway & landing page.
My idea for the header illustration is to have different scale levels for the 3 different pages:

• The current screen for the landingspage has an illustration with a scale level as if you’re looking from the window of a satellite.

• The curre

[2014-03-31 17:54] chloeatplay commented on #131
Agreed @zzzndr this is great research and option A seems faster.

[2014-03-31 18:03] chloeatplay commented on #132
I like this approach sander!

[2014-03-31 18:03] chloeatplay commented on #133
THis looks good to me, lets close the issue if you are ok with that sander ? :thumbsup:

[2014-03-31 18:36] zzzndr commented on #133
sounds like music to my ears ((:

[2014-03-31 18:39] chloeatplay commented on #133
:musical_note: :musical_keyboard: :musical_score:

[2014-03-31 18:39] #133 closed, assigned to zzzndr

[2014-03-31 20:57] #103 closed, assigned to LucasBlair

[2014-03-31 20:57] #109 closed, assigned to LucasBlair

[2014-04-01 02:06] threeqube commented on #132
:+1:

[2014-04-01 02:29] threeqube commented on #131
:+1:

[2014-04-01 15:53] ZeeJab opened #169 "Implement the ui for the Pathway Landing D4/M4"
Refer to https://github.com/mozilla/openbadges-discovery/wiki/Discovery-Pathway-UI-Design#d4--m4

[2014-04-01 15:55] ZeeJab opened #170 "Implement the ui for the Pathway Pledged Page D5/M5"
Please refer to https://github.com/mozilla/openbadges-discovery/wiki/Discovery-Pathway-UI-Design#d5--m5

[2014-04-01 15:59] ZeeJab opened #171 "Implement the ui for the Pathway Add badges Page D8"
This has section A && B
Refer to: https://github.com/mozilla/openbadges-discovery/wiki/Discovery-Pathway-UI-Design#d8--m8

[2014-04-01 16:09] zzzndr opened #172 "Implement the ui for the Pathway Add badges Page M8"

[2014-04-02 17:30] zzzndr commented on #130
Here are new screens:

header icon set exploration
https://redpen.io/5tgux7

Desktop v1
https://redpen.io/ge2chf

Desktop v2
https://redpen.io/gwrbv8

Mobile v1
https://redpen.io/y85hpb

Mobile v2
https://redpen.io/z9dtyo

[2014-04-02 19:47] stenington commented on #131
I don't understand the "per category" part of option A.

Also, it may not be hard to get fancy with this page if we use something like [d3](http://d3js.org/) although I'm not sure about feeding it the sort of overall aggregate data it would need. I think the most difficult part of this page is preparing the data, and I don't have a good sense of how easy or difficult that will be right now.

[2014-04-02 19:51] zzzndr commented on #131
I understood at first the focus is on healthcare, services & tech?
So each of these 3 would be a category

Is that possible or does it makes sense?
I'm not completely up to date on this part (:

[2014-04-02 20:09] stenington commented on #131
Oh, right! This is probably possible, but the mechanism of determining categories hasn't been established yet, and the easy options won't extend to the full ecosystem well. So there would be a risk that such a feature just wouldn't work on anything but our tightly controlled data.

[2014-04-02 20:12] shiba4life commented on #154
I'm going to start working on this issue.

[2014-04-02 20:18] zzzndr commented on #131
okido, thanks for the heads up, we better skip that option for now then  (:

would there be anything else we could show in the dashboard at this point?

[2014-04-02 20:27] stenington commented on #131
The first iteration of the dashboard I'll implement probably won't have any meaningful infographic thing in the header, unfortunately. I have #75 open to explore some different possibilities for how to display information, but it's hard to do until we actually know what the data will look like.

[2014-04-02 20:28] zzzndr commented on #131
okido (:

[2014-04-02 21:54] zzzndr commented on #132
Here is a refined header illustration for the desktop
https://redpen.io/jrcu3t

Here is the mobile screen
https://redpen.io/crvaof

[2014-04-02 22:02] zzzndr commented on #130
Here are versions with orange buttons:

Desktop
https://redpen.io/exhpc1

Mobile
https://redpen.io/592oq1

[2014-04-02 22:34] stenington commented on #59
Okay it's clicking what @jpcamara was saying earlier and what I learned last year with the early prototype... the Displayer API is a clunky way to get at someone's earned badges. You have to get all groups, get the badges in each, then manually de-dupe.

But, it's what we have. I wrote a small client for it at stenington/displayer-api-client although that won't (yet?) do the de-duping.

[2014-04-02 22:49] zzzndr commented on #132
here are new screens:

Desktop:
https://redpen.io/cf63zw

Mobile:
https://redpen.io/ud6s2e

[2014-04-03 17:06] chloeatplay commented on #131
ah I see the issue, i wonder though if we could surface tags along the lines of # healthcare + # anothertag  . So even if we don't have categories you would be able to surface these main tags. But totally ok to table this for now @stenington

[2014-04-03 17:54] zzzndr commented on #131
Here is a very rough sketch of how the dashboard page could be to show the potential?
https://redpen.io/g2ce8r

@chloeatplay @stenington

[2014-04-03 19:20] zzzndr commented on #130
Here is an updated version with white icons & an orange button
https://redpen.io/kh3t4e

[2014-04-03 23:21] zzzndr commented on #131
Here are 2 screens how the desktop could look like
The background of the header still needs to be refined like the pathway page

variation 1
https://redpen.io/s2yfgp

variation 2
https://redpen.io/xodk4h

[2014-04-04 18:33] zzzndr commented on #131
Here is an updated screen for the desktop:
https://redpen.io/4m2sp8

[2014-04-04 20:07] chloeatplay commented on #148
First stab at art directing these (upper row is the animals) Lower row how some of these badges might look for other industries ![discovery_badges_art-01](https://cloud.githubusercontent.com/assets/1945209/2619807/a63c6348-bc34-11e3-87f0-131ba8211d31.png)

[2014-04-04 20:12] zzzndr commented on #148
These are übercool ((:
So much potential to create badges with this style (:
Really like the bottom-right badge

[2014-04-04 20:27] ZeeJab commented on #148
I'M OBSESSED WITH THESE!!

[2014-04-04 22:50] threeqube commented on #148
:heart: :+1:

[2014-04-05 21:32] zzzndr commented on #148
What I really like about the bottom right badge is that it is basically a clipped illustration of a person wearing a jacket.

I can imagine this principle can work really well for a lot of other situations, for instance I can imagine a clipped version of the bottom left badge with only a few essential elements of the calculator can work really well (:

[2014-04-06 22:29] threeqube commented on #148
I also like how you're utilizing the folds to add dimension. :panda_face:

[2014-04-07 11:54] zzzndr commented on #130
Here is a screen with an overview of the refined scale levels of the 3 types of headers: landing page, pathway page & badge page.
https://redpen.io/89ugjo

The clouds, mountains etc are the smallest in the landings page, the biggest in de badge page.

[2014-04-07 14:22] chloeatplay opened #176 "Create first version of site copy"
cc @threeqube @SueSmith
Starting this here https://openbadges.etherpad.mozilla.org/discovery-copy

:pencil: :pencil2: :panda_face:

[2014-04-07 14:23] chloeatplay commented on #162
This is now updated, @emgollie let's start distributing per your plan.

[2014-04-07 14:26] zzzndr commented on #131
New versions can be found here:

D3
https://redpen.io/e56xbo

M3 a
https://redpen.io/3zgech

M3 b
https://redpen.io/rkaxj8

M3 c
https://redpen.io/g1ve3y

M3 d
https://redpen.io/27mxr4

[2014-04-07 14:51] SueSmith commented on #176
Hi @chloeatplay - great! I see you've started an intro paragraph in there - do you have other sections you're particularly looking for copy on at the moment or should I go by the latest designs?

[2014-04-07 15:02] LucasBlair commented on #112
Still underway

[2014-04-07 18:59] chloeatplay opened #177 "Create transition screens"
Create screens for transitions between actions on the interface. Starting to write these down here: https://openbadges.etherpad.mozilla.org/discovery-copy

[2014-04-07 19:01] chloeatplay opened #178 "Design transition screens"
Connected to #177 Imagining these as popup screens that give you helpful messages as you progress through the interface. @zzzndr want to take a stab at designing them?

[2014-04-07 19:02] zzzndr commented on #178
sure!

[2014-04-07 21:54] threeqube commented on #178
Are these like tooltips?

[2014-04-07 22:37] zzzndr commented on #130
Here are 2 new variations of the headers for the zoom level concept

The header at the contains only the river, mountains & clouds

The header in the middle contains apart from the, mountains & clouds also some ground clutter like a little flower & 3 dots which give the surface a bit if a texture

The header at the bottom contains hills instead of mountains

with a cloud on header at the bottom
ht

[2014-04-07 22:42] zzzndr commented on #131
new dashboard desktop screen
https://redpen.io/8m9wh6

[2014-04-07 22:52] zzzndr commented on #131
and a new screen (:
https://redpen.io/tp4nr3

[2014-04-08 00:23] threeqube commented on #176
@SueSmith I thinking going by latest designs would work best. @zzzndr is aggregating them here: https://github.com/mozilla/openbadges-discovery/wiki/Discovery-Pathway-UI-Design

[2014-04-08 12:35] zzzndr commented on #130
Here is a new screen for mobile:
https://redpen.io/mve6pb

Here is a refined variations of the headers for the zoom level concept
https://redpen.io/kvw1xh

[2014-04-08 12:35] zzzndr commented on #131
Here are new screens:

Desktop
https://redpen.io/f91d8b

Mobile a
https://redpen.io/ae2p56

Mobile b
https://redpen.io/bq7jz4

Mobile c
https://redpen.io/7918d3

Mobile d
https://redpen.io/3fhz2e

[2014-04-08 12:35] zzzndr commented on #132
Here are new screens:

Desktop
https://redpen.io/tkz31r

Mobile
https://redpen.io/ar3zq4

[2014-04-08 12:35] zzzndr commented on #126
Here are new screens with the tags:

Desktop
https://redpen.io/sxbyfq

Mobile
https://redpen.io/9kv4j3

[2014-04-08 13:17] SueSmith commented on #176
Thanks @threeqube

Added a few more bits to the etherpad - give me a shout :loudspeaker: if I can do any more whenever @chloeatplay

[2014-04-08 14:00] threeqube commented on #176
:+1:

[2014-04-08 14:04] threeqube commented on #130
I like the zoom concept but with the blue borders, that look like bodies of water, remaining unchanged, the zoom effect diminishes for me. What do you think @zzzndr?

[2014-04-08 16:46] zzzndr commented on #130
totally agree with you that the blue borders on both sides diminishes the effect of zooming, I choose to keep them the way they are for the overall balance of the page & to keep the folding effect between the header and the rest of the page (:

When I tried using only green the overal unity between the pages seemed a bit gone for me, but perhaps I'm a bit too carefull (:

Gladly try again to make

[2014-04-08 16:49] chloeatplay commented on #130
Agree with comments above. I think the disconnect happens between the first and second screen mainly because of the size of the clouds. Can we take them out completely? Alternatively, instead of having all these different versions, maybe the pathway, badge, dashboard pages are simpler? don't have the header? (edited to explain better what i meant :baby_chick: )

[2014-04-08 17:19] stenington commented on #59
Hmm, in writing code to do the full fetch and de-dupe, I realized there's an additional wrinkle in that the Displayer API returns badges in more or less their underlying format, which can be 0.5 or 1.0 assertions. The directory however will only know about 1.0 AFAIK, because 1.0 is what gives you a separate BadgeClass object. So I suppose somewhere in the client code we should be filtering out 0.5

[2014-04-08 18:11] zzzndr commented on #130
Here is the sollution we came up with!
nice and plain with a lot more contrast between the 3 zoom levels (:

redpen is taking a brake, so here it is embeded (:

![headers_v5](https://cloud.githubusercontent.com/assets/6721026/2647310/2a9824e4-bf49-11e3-8dde-eff3a074c1b6.jpg)

[2014-04-08 18:29] zzzndr commented on #131
Here is the updated desktop screen with a refined cleaner header

![03_discovery-pathway-page_dashboard_desktop_v9-01](https://cloud.githubusercontent.com/assets/6721026/2647492/a567b692-bf4b-11e3-9316-834821fbc9de.jpg)

[2014-04-08 18:57] chloeatplay commented on #176
@SueSmith thanks so much. Added some clarifications. If you and @threeqube want to take one more look I can close this issue for now and move to implementation.

[2014-04-08 18:58] chloeatplay commented on #162
Moving this to Saturn :stars:

[2014-04-08 19:08] SueSmith commented on #176
@chloeatplay everything looks good to me!

Let me know if I can help e.g. if you want a written tutorial like the one we have for BadgeKit users https://github.com/mozilla/openbadges-badgekit/wiki/BadgeKit-Tutorial

[2014-04-08 19:09] chloeatplay commented on #176
That would be amazing. I will open a ticket so we can tackle that once we are closer to launch :+1:

[2014-04-08 19:09] #176 closed, assigned to chloeatplay

[2014-04-08 19:11] chloeatplay commented on #15
@emgollie @threeqube should we close this ticket? I believe Emily has created the user testing plan already.

[2014-04-08 19:16] iamjessklein commented on #148
I agree with everything everyone wrote before me, these look fantastic @chloeatplay  :baby_chick:
My only additional bit of feedback:
-  would be to consider that if these are a set, a consistent palette to show the relationship between badges
- the bumble bee badge (second from top left row) stands out to me as a bit different than the others, perhaps it is just a matter of toning down the colors

[2014-04-08 20:22] stenington commented on #67
Closed by #173, though there's some additional cleanup mentioned in that PR.

[2014-04-08 20:22] #67 closed, assigned to nobody

[2014-04-08 20:24] stenington commented on #164
I think this rolls into a bigger issue I'd like to address, which is getting a Backbone veteran to help draft a general backend API and data loading strategy, for which I will open a separate ticket.

[2014-04-08 20:24] #164 closed, assigned to nobody

[2014-04-08 20:29] stenington opened #180 "Backend API and data loading strategy"
I think we should draft a general description of the endpoints and data loading strategies that would support the front-end as we understand it. The endpoints I expect will map closely to front-end models, although I'd like someone with experience to weigh in on the best way to handle nested models, and I know we have at least one slightly special case of "cloning" a pathway. By data loading strat

[2014-04-08 21:05] stenington opened #181 "Data design"
Incremental data design has been implicit in all of the API tickets, but perhaps there's a little bit of overall data design to do first to get things started? The results of an early data design spike I did are in [/docs/DATAMODEL.md](https://github.com/mozilla/openbadges-discovery/blob/master/docs/DATAMODEL.md) although I don't think I've explicitly addressed how migrations might be handled or o

[2014-04-08 23:25] zzzndr commented on #131
Here is a new screen with a more centered add pathway icon (:
![03_discovery-pathway-page_dashboard_desktop_v9-2-01](https://cloud.githubusercontent.com/assets/6721026/2650589/7b38eeac-bf75-11e3-8437-e5b66160e0eb.jpg)

[2014-04-08 23:29] LucasBlair commented on #110
Issuers done. Earners will happen in the next couple weeks.

[2014-04-08 23:30] LucasBlair commented on #104
Issuers done. Earners will happen in the next couple weeks.

[2014-04-08 23:52] zzzndr commented on #132
here is a new screen for Desktop:
https://redpen.io/ob94b73344b8f860f9

[2014-04-09 01:40] threeqube commented on #104
:+1:

[2014-04-09 01:42] threeqube commented on #110
:+1:

[2014-04-09 01:48] threeqube commented on #176
:+1:

[2014-04-09 02:00] threeqube commented on #15
Will defer to @emgollie.

[2014-04-09 02:15] threeqube commented on #59
Interesting. cc @brianloveswords and @cmcavoy for good measure.

[2014-04-09 04:00] threeqube commented on #130
Looks great! :+1:

[2014-04-09 08:04] emgollie commented on #15
Yes, closing and opening an implementation ticket. Thanks!

[2014-04-09 08:04] #15 closed, assigned to emgollie

[2014-04-09 08:08] emgollie opened #182 "Quiz testing: Launching in-person"
Per https://github.com/mozilla/openbadges-discovery/issues/15, we're nearly ready to start testing the quiz in-person. From our plan (https://openbadges.etherpad.mozilla.org/pathways-userstories), we're eager to get this in front of 30 relevant teens in the next week and a half.

Next steps are for @ghami and I to discuss tactical testing processes and for me to proofread the quiz. cc @ghami @Luca

[2014-04-09 12:45] brianloveswords commented on #59
The Displayer API in the current backpack definitely needs an overhaul. (I could have written that sentence “the current backpack needs an overhaul”)
1. I wanna get metrics on how many 0.5 badges are coming in. I don't believe we have `createdOn` dates in the database (I wish we did), but we can look at the last 100 IDs as a proxy, maybe.
2. Also having a hard time thinking of a decent way to comm

[2014-04-09 13:15] chloeatplay commented on #59
1. @brianloveswords we could have @SueSmith add this to the FAQ for the tool. :+1:

[2014-04-09 13:20] SueSmith commented on #59
Sounds good, could add an FAQ on it and the import error/ feedback could link directly to that question on the FAQ page..

[2014-04-09 13:37] chloeatplay commented on #59
:+1:

[2014-04-09 13:44] chloeatplay commented on #130
:thumbsup: from me too :)

[2014-04-09 14:35] chloeatplay commented on #167
I saw this being implemented :eyes: should we close?

[2014-04-09 15:33] stenington commented on #167
Oh, sure. Undo is doable.

[2014-04-09 15:33] #167 closed, assigned to nobody

[2014-04-09 16:45] stenington commented on #180
Here's a straw-man proposal:

## Types
- **Achievement**: holds the common data between badges and pathways like title, description, tags
  - **Badge**: has additional data like issuer, criteria
  - **Pathway**: has additional sub-components like Requirements, Notes, and Milestones*
- **Requirement**: connects a Pathway to a Badge with a physical x,y positioning
- **Note**: a human-entered note on

[2014-04-09 16:52] chloeatplay commented on #180
this looks good to me :thumbsup:
small nit-picky thing ==> would change /wishlist  to /favorites for consistency (we re changing that in the copy too)

[2014-04-09 17:04] stenington commented on #180
Assuming the above is somewhat reasonable, some questions I then have:
- Is it wasteful in some way to have e.g. the pathway editor have to hit several endpoints to fetch all the data it needs? (/pathway/:id, /pathway/:id/requirement, /pathway/:id/note) Or conversely is it wasteful if /pathway/:id includes a full representation including requirements and notes?
- As a general Backbone strategy, is

[2014-04-09 17:07] stenington commented on #180
@jpcamara If you have a chance to weigh in here, I'd appreciate it.

[2014-04-09 17:11] stenington commented on #180
I guess the other detail is what actions would be allowed on which endpoints. Some of them are GET only, and I think all that support PUT or POST will do so for certain users only. Is there a particularly good way to handle that with Backbone?

[2014-04-09 17:32] chloeatplay commented on #177
@SueSmith can you take a final look under line 77 for these? much thanks :pray:

[2014-04-09 17:33] chloeatplay commented on #178
@threeqube I think we can explore both tooltips and transition screens (i.e. pop-ups)

[2014-04-09 17:47] zzzndr commented on #126
Here are the screens for show how to edit your pathway name

desktop
https://redpen.io/qu1ec30365b9080d65

mobile
https://redpen.io/na02704d5323b09f00

[2014-04-09 17:57] zzzndr commented on #131
Here are new screens
I swapped the position of badges & favorited, this way favorited applies to badges

desktop
https://redpen.io/vxaf2c1cd63090f557

mobile a
https://redpen.io/cy559d44a1ae3d4df0

mobile b
https://redpen.io/vce5c0a5dad28753a7

mobile c
https://redpen.io/vce5c0a5dad28753a7

[2014-04-09 17:58] SueSmith commented on #177
@chloeatplay Looks good! Made a couple of tiny edits, am on my phone so hope it hasn't messed the etherpad up at all..

[2014-04-09 18:02] zzzndr commented on #130
Here are new screens

desktop
https://redpen.io/uqa447bcfc1571942a

mobile
https://redpen.io/ym772018ab12b4b27f

[2014-04-09 19:08] chloeatplay commented on #131
:thumbsup: fab!

[2014-04-09 19:10] chloeatplay commented on #132
:thumbsup: looks badgelicious !

[2014-04-09 19:29] chloeatplay opened #185 "Implement Transition Screens"
As per #177 & #178 :star2:

[2014-04-09 19:30] #177 closed, assigned to chloeatplay

[2014-04-09 19:30] chloeatplay commented on #177
Thanks @SueSmith :+1:

[2014-04-09 19:32] chloeatplay opened #186 "Implement UI for Dashboard"
As per #131 cc @zzzndr

[2014-04-09 19:32] #131 closed, assigned to zzzndr

[2014-04-09 20:33] chloeatplay commented on #154
Reassigning to @tomtang539 now officially on this repo :tada: :smile_cat:

[2014-04-09 21:07] zzzndr commented on #130
Here are the logged in screens D2 / M2
Please pay extra attention to the about & FAQ text buttons next to the logo

desktop
https://redpen.io/zn370baeeddb6b7d8d

mobile
https://redpen.io/fm1229b8b46426912d

[2014-04-09 21:48] zzzndr commented on #126
Here is an enhanced pathway settings popup with the option to drop out of a pledged pathway. I tried to make the button to do so unobtrusive.

D5 pathway settings a
https://redpen.io/tg9a324b3246a1bcda

Clicking on the (x) right of the ‘Pledged’  will lead you to screen b

D5 pathway settings b
https://redpen.io/vkf85d3005a271f852

[2014-04-10 00:30] threeqube commented on #178
:+1: sounds good to me!

[2014-04-10 14:22] emgollie commented on #162
Testing implementation bug is https://github.com/mozilla/openbadges-discovery/issues/182. Thanks!

[2014-04-10 14:25] emgollie commented on #182
@ghami, @chloeatplay and I discussed today. We got interesting feedback from a community member at the University of Michigan that we can continue to consider as we test.

The quiz has been copy edited, and if each of us can identify ~5 teens to test with next week, that would be wonderful. On Monday's team call we can discuss best practices for live interviewing. cc @threeqube @LucasBlair

[2014-04-10 14:35] zzzndr commented on #142
Here is a proposal for the end screen:

In this screen the end screen is a static screen & doesn’t offer functionality to continue or duplicate etc

Desktop
https://redpen.io/cy5da0296916013d46

Mobile
https://redpen.io/frfb5978aa1b41c43a

[2014-04-10 14:57] stenington opened #187 "Code style consistency"
It would be nice to ensure some basic things like tabs v. spaces and indent depth in the project, not so much for visually consistency or nit-pickiness, but to avoid small changes made with aggressive editors from then including 500 whitespace diffs or whatever.

Adding a validation step to the precommit-hooks might do the trick.

[2014-04-10 15:00] stenington opened #188 "Replace hardcoded pathway data with data from model"
The pathway page hardcodes the fake description, currently: https://github.com/mozilla/openbadges-discovery/blob/master/clientapp/templates/pages/pathway.html#L14

It should get pulled from the model. (And get rid of those leftover `class="foo"`s while you're in there.)

[2014-04-10 15:41] ZeeJab commented on #187
:+1:

[2014-04-10 15:51] stenington commented on #187
@ZeeJab any favorite tools you already use?

`precommit-hook` runs jshint, which might have some config we could tweak at least for .js files. There's also jslint, though it's super verbose.

Tidying templates can be tricky because they're templates, not properly formed HTML. Maybe there's a trick to prerender and then lint or something.

[2014-04-10 16:23] chloeatplay commented on #142
These are great @zzzndr  what if we add a popup with a message in it for completion? Will also add to the transition screen copy, see Point 10 here https://openbadges.etherpad.mozilla.org/discovery-copy

[2014-04-10 16:25] zzzndr commented on #142
that makes perfectly sense, working on it!

[2014-04-10 16:50] #132 closed, assigned to zzzndr

[2014-04-10 16:52] chloeatplay opened #190 "Implement UI for Badge Page"
As per #132 cc @zzzndr

[2014-04-10 16:53] #130 closed, assigned to zzzndr

[2014-04-10 16:53] chloeatplay opened #191 "Implement UI for Landing Page"
As per #130 cc @zzzndr

[2014-04-10 16:54] ZeeJab commented on #187
hmm, build step with the ci? jslint is for sure verbose, we can configure it?
There's also js beautify to fix in a grunt task maybe?

Pre commit hooks are hard to enforce tho, since they exist outside the repo?

[2014-04-10 17:00] stenington commented on #187
The project is using https://github.com/nlf/precommit-hook right now, which runs tests, runs jshint, and lets you specify additional "validation" scripts to run before allowing a commit. jshint is configurable through .jshintrc and .jshintignore files, although I still haven't fully gotten the hang of how .jshintrc files in different directories interact with each other.

jslint offers similar con

[2014-04-10 17:29] shiba4life commented on #154
I think we can mark this as closed?

[2014-04-10 17:30] #154 closed, assigned to shiba4life

[2014-04-10 17:40] chloeatplay commented on #154
:thumbsup:

[2014-04-10 19:29] zzzndr commented on #159
The idea is that the name add storybit’ button in de navigation menu becomes ’storybit’

I’ve slightly rephrased the text above the pathway because the idea is to give the storybit mode 2 functionalities

desktop a
https://redpen.io/ua0cb737e2f3c039a0
The user has already clicked on the pathway to place a storybit, dragging the new storybit will reposition it. If an existing storybit is clicked we

[2014-04-10 20:17] malynda commented on #56
We're covering most of these elements in our pr for #57 :)

[2014-04-10 20:20] chloeatplay commented on #56
2 :bird: :bird: s 1 :black_circle: : <===supposed to be a stone

:thumbsup:

[2014-04-10 20:28] chloeatplay commented on #148
Great points Zoofriends. I updated this to include all the cross career badges
==> https://redpen.io/qu40d807bc43eb4bc9
Collecting feedback on the above redpen till EOD tomorrow.
Thanks all :frog: :snail: :snake: :dog: :panda_face:

cc @LucasBlair @ghami for good measure :pray:

[2014-04-10 20:35] chloeatplay opened #193 "Design UI for Editing Pathway Name & Dropping Out of a Pathway"

[2014-04-10 20:36] chloeatplay commented on #126
Moved to #193

[2014-04-10 20:36] #126 closed, assigned to zzzndr

[2014-04-10 20:36] zzzndr commented on #193
Here is an enhanced pathway settings popup with the option to drop out of a pledged pathway. I tried to make the button to do so unobtrusive.

Pathway settings a
https://redpen.io/tg9a324b3246a1bcda

Clicking on the (x) right of the ‘Pledged’  will lead you to screen b

Pathway settings b
https://redpen.io/vkf85d3005a271f852

[2014-04-10 20:40] chloeatplay commented on #193
Looks great Sander! Will close this :+1:

[2014-04-10 20:40] #193 closed, assigned to zzzndr

[2014-04-10 20:41] chloeatplay opened #194 "Implement Dropping out of a Pathway"
After seeing #154 implementation we realised there is no way currently to unpledge / drop out of a pathway. @zzzndr and me designed how this would look/work in #193

[2014-04-10 20:44] LucasBlair commented on #148
Artwork looks great

[2014-04-10 20:45] zzzndr commented on #142
desktop a
https://redpen.io/qh7ce03e7313a21d05

desktop b
https://redpen.io/jz76ff23c3be3ef234

[2014-04-10 20:50] zzzndr commented on #148
looks great indeed!
added a few comments based on what you told us during the stand (:

[2014-04-10 21:04] zzzndr commented on #142
Here are the mobile screens
mobile a
https://redpen.io/dj28e87930e0293911

mobile b
https://redpen.io/hz9fcb21a7a8651248

[2014-04-10 21:08] zzzndr commented on #159
here are new screens with a proper cogwheel icon (:

desktop a
https://redpen.io/ym9fc8c01692eaf30c

desktop b
https://redpen.io/cte48b61bcd1d97ba5

[2014-04-10 21:12] chloeatplay commented on #142
Looks great @zzzndr :thumbsup: we should probably open an implementation ticket for sharing pathway completion :pencil: to self :smile:

[2014-04-10 21:12] #142 closed, assigned to chloeatplay

[2014-04-10 21:14] chloeatplay opened #195 "Implement Pathway End Screen"
As per #142 , when a user completes a pathway they should get the noted interaction.

[2014-04-10 21:15] chloeatplay commented on #159
Looks great :thumbsup: closing and connecting to #26

[2014-04-10 21:15] #159 closed, assigned to zzzndr

[2014-04-10 21:27] divideby0 commented on #180
We've typically used some sort of session identifier to authenticate user requests.  This is a common compromise to pure REST as otherwise we're doing HTTP basic authentication on every request.  The workflow would work as follows:
1. User logs in and we store their persona metadata.
2. Node server authenticates and stores a random session token in a distributed key/value store like Redis, returni

[2014-04-10 21:50] divideby0 commented on #180
Also, to address some of the earlier points...

Yes, probably.  However, we've had a lot of success starting from the perspective of clean resource-oriented design and then building "page resources" that are better optimized for the multiple resources/properties into a single request.  Lazily loading properties through a mechanism like `$ref` in [JSON Schema](http://json-schema.org/example2.html)

[2014-04-11 00:35] threeqube commented on #142
Looks beautiful! :+1:

[2014-04-11 16:40] chloeatplay commented on #148
Thanks everyone for great feedback. Iterated and files can be found here if you want to play around/use them https://www.dropbox.com/sh/q1971j65c9c1l5l/O29v3x8K1m Next step would probably be user testing them with some youth to see if they resonate cc @emgollie and take it from there :frog: :cow: :tiger: :elephant: :palm_tree:

[2014-04-11 16:40] #148 closed, assigned to chloeatplay

[2014-04-12 19:28] emgollie commented on #182
Eek: I talked to Bay Area Video Coalition about coming into test and they said their students are currently heads down finishing final projects in April. Considering other after school testing opportunities.

[2014-04-14 17:44] chloeatplay commented on #47
Hi @stenington and @threeqube. I am actually leaning closer towards the idea that we should make it very easy for pathways to be private. That also stands for switching from displaying emails to usernames.

[2014-04-14 17:45] chloeatplay commented on #33
Wondering if this bug still open? cc @stenington

[2014-04-14 17:59] #162 closed, assigned to emgollie

[2014-04-14 18:15] stenington commented on #33
Nope, definitely not still valid.

[2014-04-14 18:15] #33 closed, assigned to nobody

[2014-04-15 14:35] #114 closed, assigned to LucasBlair

[2014-04-15 14:35] #115 closed, assigned to LucasBlair

[2014-04-15 16:08] chloeatplay opened #197 "Implement real copy on site"

[2014-04-15 16:20] chloeatplay commented on #135
.@zzzndr will start on the top 50 badges. @LucasBlair will provide the badges that are more or less finalized in the google doc. by coloring them "green" .

[2014-04-15 16:45] emgollie commented on #182
BAVC agreed to review the quiz and possibly send it along to students. I created this short link if you'd like to repurpose it: http://bit.ly/1qEBMYp

I know that @ghami mentioned concerns with local student breaks, and has anyone else had success prepping to share this with teens near them? @LucasBlair @threeqube @chloeatplay

[2014-04-15 18:20] LucasBlair commented on #182
I will circle back with the school in Jersey.

[2014-04-15 18:24] chloeatplay commented on #182
@LucasBlair reminder we are looking for f2f interactions/ user research, given the missing functionality, the quiz is not in a position to allow stand-alone testing atm.

[2014-04-15 18:43] chloeatplay commented on #59
Hey @stenington should we close this issue? We have added a section to the FAQ.

[2014-04-15 18:53] emgollie commented on #182
@LucasBlair @chloeatplay @ghami Knowing that in-person testing for it may be difficult, we can also plan remote walk-thrus as needed. We'll be able to share prototypes soon too!

[2014-04-15 18:58] LucasBlair commented on #182
I will also reach out to connections in Pittsburgh in Philly. Those will be easier to do in person.

[2014-04-15 19:05] SueSmith commented on #59
@chloeatplay oh should I have been doing something with this? Had forgotten about this conversation.. :confused:

P.S. am quite happy to have a go at making copy edits etc via pull requests if any text needs changed or added to as we go along..

[2014-04-15 19:09] chloeatplay commented on #59
@SueSmith no worries at all :) created a section in the etherpad https://openbadges.etherpad.mozilla.org/discovery-copy . Will add separate tickets for ehemm actually creating those two pages, ABOUT/FAQ. :pray:

[2014-04-15 19:11] SueSmith commented on #59
@chloeatplay ah I see it - can draft something for it now if that's cool.

[2014-04-15 19:12] chloeatplay commented on #59
:thumbsup:

[2014-04-15 19:17] emgollie commented on #182
:+1: Thanks @LucasBlair!

[2014-04-15 19:26] SueSmith commented on #59
Added a short answer https://openbadges.etherpad.mozilla.org/discovery-copy

Totally not sure I'm explaining it correctly (probably because I'm not sure I'm understanding it correctly :neutral_face:).

[2014-04-15 22:58] threeqube commented on #59
As far as I can tell, About and FAQ look great to me! :+1:

[2014-04-15 23:00] chloeatplay opened #198 "Design layout for About & FAQ Pages"

[2014-04-15 23:03] threeqube commented on #182
Might be stating something you've already considered and thought of before but what about Hive?

[2014-04-16 00:54] emgollie commented on #182
Yes, and... :)

I'm wary of barraging them every month as we recently tested BadgeKit with them and may want to again soon. I'd prefer to have our asks of Hive be for in-depth, in-person tests (AKA more detailed engagements than this quick quiz). Thanks for asking @threeqube!

[2014-04-16 01:57] threeqube commented on #182
Of course you've thought about this. Thanks @emgollie! :koala:

[2014-04-16 13:02] ghami commented on #182
Unfortunately the teens I had hoped to test with over the holidays are no
longer able to do so.

On 15 April 2014 17:45, Emily Goligoski notifications@github.com wrote:

[2014-04-16 14:20] malynda commented on #190
Tom and I are starting in on this one!

[2014-04-16 15:29] #56 closed, assigned to malynda

[2014-04-16 15:29] #57 closed, assigned to malynda

[2014-04-16 15:46] stenington opened #199 "Dashboard stats"
A user's pathways, badges, and wishlist counts are currently hooked up to the underlying collection length which may not work depending on how pagination happens. Once we have real data flowing from the backend to frontend we should revisit how those numbers are derived to ensure they're accurate (unless we just replace them with cooler visualizations a la #75).

[2014-04-16 15:48] stenington commented on #102
I'm changing this from code to discussion so we can figure out the approach we want to take. I think it's just a question of will we get usernames and avatars from an external service? If so which one(s)?

[2014-04-16 15:51] stenington commented on #102
@chloeatplay I think we can use this ticket for figuring out avatars and usernames, just FYI. I think maybe the next step is on me to present some options?

[2014-04-16 15:55] chloeatplay commented on #102
that sounds good, I was thinking of gravatar or webmaker connect that @toolness made.

[2014-04-16 16:23] stenington commented on #102
So webmaker connect would actually allow login through a webmaker account instead of persona, whereas gravatar I think would still use persona login but then fetch user data from gravatar.

[2014-04-16 16:23] stenington commented on #102
I guess I'm just making sure that offering alternate logins is okay.

[2014-04-16 16:29] chloeatplay commented on #102
given persona's uncertain future, i think it only makes sense to have alternate logins. If I were to choose I would initially go with webmaker, since on the long run it might offer us a bunch of interest data. Thinking of youth, down the line offering facebook logins should probably be part of this experience.

[2014-04-16 17:30] stenington opened #200 "Dashboard accordion widget"
@zzzndr @chloeatplay If you go to http://openbadges-discovery.herokuapp.com, log in and go to the dashboard, I wonder if you find how the accordion works a bit odd. It starts with all panels open, but then as you click the headers it's only ever possible to have a single panel open after that.

My gut says on mobile it should start with only a single panel open, and only allow a single panel to be

[2014-04-16 17:31] stenington opened #201 "Dashboard link should look linky"
Right now there's no visual indication that the username is a link taking you to the dashboard. I think it should at least have a cursor change or underline.

[2014-04-16 17:33] stenington opened #202 "List view "View more" button should only show when there are more to view"
Add some smarts to the list view to hide/show the "more" button appropriately.

[2014-04-16 17:34] stenington opened #203 "Dashboard pledged pathway links"
Clicking a pledged pathway should take you to the editor.

[2014-04-16 17:35] zzzndr commented on #200
agree that it feels odd on desktop
the idea is that the accordion only works on mobile with only the pathway opened by default

if you go to the wiki you see an example (:
https://github.com/mozilla/openbadges-discovery/wiki/Discovery-Pathway-UI-Design#d3--m3

[2014-04-16 17:36] zzzndr commented on #201
good point!
for starters i would choose to go for the cursor change (:

[2014-04-16 17:36] stenington opened #204 "Redirect away from /dashboard when logged out"
Yup.

[2014-04-16 17:41] stenington opened #205 "Introduce some general link handling"
Rather than a bunch of named functions mapped to individual links, I think we could introduce a general link click handler looking for something like `data-nav-to="route"` that would call `window.app.router.navigateTo("route");` or something along those lines.

[2014-04-16 21:41] stenington opened #208 "Move fake data to backend"
As the fake data gets more complicated and we want to start introducing real data, a good first step would be to push fake data behind backend endpoints.

[2014-04-17 19:08] stenington opened #210 "More "mysterious" test failures"
Caused by neo4j not running, which is simple enough to fix. Better reporting would be good though, instead of timeout errors.

![screenshot 2014-04-17 14 01 58](https://cloud.githubusercontent.com/assets/55319/2735715/8cf62002-c663-11e3-9da6-f21053dbef06.png)

[2014-04-17 19:22] #197 closed, assigned to chloeatplay

[2014-04-18 12:05] shiba4life commented on #191
current state of the landing page:
https://redpen.io/yh537fb364e2a0f04c

[2014-04-18 12:09] shiba4life commented on #169
@ZeeJab Are you still working on this issue?  We've taken a stab at this, here's how it looks right now:
https://redpen.io/sd574c5546ba26a9ef

[2014-04-18 16:36] malynda commented on #203
Found that this is due to no PATHWAY module existing in Achievements. Not sure why a pathway image was showing in dashboard before!

[2014-04-18 18:59] malynda commented on #203
This is now fixed and will be included in our PR for #190

[2014-04-18 19:05] malynda commented on #200
@stenington @zzzndr @chloeatplay This is now changed to a non-accordion layout for the desktop, and will be included in our PR for #190

[2014-04-18 19:23] chloeatplay commented on #200
:+1: thanks @mchizek

[2014-04-18 19:25] malynda commented on #201
done! and will be included in the PR for #190

[2014-04-18 20:31] zzzndr opened #212 "Design back button functionality"
It might be help full to have a back button when navigating the site!

[2014-04-18 20:37] chloeatplay commented on #212
:+1:

[2014-04-21 18:37] stenington opened #214 "Extract variables.scss file"
Pull any duplicated scss variables into a single file and import where needed.

[2014-04-21 18:38] stenington opened #215 "Move inline styles to CSS as much as possible"
Unless a style really truly absolutely necessarily has to be inlined or makes the most sense inline, move it to CSS.

[2014-04-21 18:42] stenington opened #216 "Change button classes to match Foundation conventions"
Foundation uses these basic button classes: http://foundation.zurb.com/docs/components/buttons.html#advanced
- `button` for primary buttons
- `button secondary` for secondary
- `button success`
- `button alert`

I think we may as well follow suit if we can.

[2014-04-21 18:55] stenington opened #217 "Double check grid usage"
Use centering instead of offset here: https://github.com/stenington/openbadges-discovery/blob/fix-211/clientapp/templates/includes/dash-title.html#L5
Get rid of div here: https://github.com/stenington/openbadges-discovery/blob/fix-211/clientapp/templates/includes/dash-title.html#L17
Figure out if class is doing anything here: https://github.com/stenington/openbadges-discovery/blob/fix-211/clientap

[2014-04-21 18:56] stenington opened #218 "Ensure js-* classname convention"
Make sure classes referenced in javascript are prefaced with `js-` and no `js-*` classes are styled.

[2014-04-21 19:51] stenington opened #219 "Create mixin for box shadows"
See https://github.com/mozilla/openbadges-discovery/pull/213#discussion-diff-11820913

[2014-04-21 19:52] stenington opened #220 "Remove/re-work location-dependent styles"
See https://github.com/mozilla/openbadges-discovery/pull/213#discussion-diff-11820686

[2014-04-21 19:53] stenington commented on #220
And https://github.com/mozilla/openbadges-discovery/pull/213#discussion-diff-11821071

[2014-04-21 19:53] stenington commented on #220
And https://github.com/mozilla/openbadges-discovery/pull/213#discussion-diff-11821158

[2014-04-21 19:54] stenington opened #221 "Make a buttons.scss"
For button definitions.

[2014-04-21 19:54] jpcamara commented on #218
:thumbsup: :thumbsup: :thumbsup:

[2014-04-21 19:55] stenington opened #222 "Make buttons responsive"
See https://github.com/mozilla/openbadges-discovery/pull/213#discussion_r11821513

[2014-04-21 19:55] stenington opened #223 "Adjust user panel"
As per https://github.com/mozilla/openbadges-discovery/pull/213#discussion_r11821643

[2014-04-21 19:56] stenington opened #224 "Adjust the hamburger!"
:hamburger: https://github.com/mozilla/openbadges-discovery/pull/213#discussion_r11821769

[2014-04-22 15:46] shiba4life commented on #214
Working on this one.

[2014-04-22 17:17] shiba4life commented on #216
Working on this one.

[2014-04-22 17:24] shiba4life commented on #216
Implemented.  Note that we don't have a button success (green).

[2014-04-22 17:49] shiba4life commented on #219
Implemented.

[2014-04-22 17:50] shiba4life commented on #221
Implemented.  Note that there's no button-success (green)

[2014-04-22 17:50] shiba4life commented on #214
Done

[2014-04-23 13:43] chloeatplay opened #227 "UI Fixes"
1) Landing page:

*Hamburger menu :
         -dimensions should be 40px x 30px and a rollover colour of orange (#f8933c) instead of blue
*Login button:
    - button is too narrow, text is taking 2 lines
    - button should be 240px wide
    - we need the font awesome ‘double arrow’ to the right of the text
      http://tinyurl.com/luvb47q
    - there seems to be a hint of dark blue between the ora

[2014-04-23 13:45] chloeatplay commented on #227
cc @zzzndr @ZeeJab

[2014-04-23 13:51] ZeeJab commented on #227
I can work on these this afternoon :-)

[2014-04-23 17:43] stenington opened #228 "human-model inheritance"
Explore possibilities to reduce attribute duplication between related models.

[2014-04-23 17:46] stenington opened #229 "Frontend page transitions"
There's a bit of a front-end pattern emerging where we fetch data and render and display a page on success. We should also consider what happens when
- [ ] the fetch is slow
- [ ] the fetch fails

Another way to say it is that we need some sort of visual page transition indicator and error reporting.

[2014-04-23 17:54] #208 closed, assigned to stenington

[2014-04-23 17:54] #186 closed, assigned to malynda

[2014-04-23 17:54] #200 closed, assigned to malynda

[2014-04-23 17:54] #191 closed, assigned to malynda

[2014-04-23 17:54] #201 closed, assigned to malynda

[2014-04-23 17:54] #203 closed, assigned to shiba4life

[2014-04-23 17:54] #190 closed, assigned to shiba4life

[2014-04-23 17:54] #219 closed, assigned to nobody

[2014-04-23 17:54] #216 closed, assigned to shiba4life

[2014-04-23 17:54] #221 closed, assigned to nobody

[2014-04-23 17:54] #214 closed, assigned to shiba4life

[2014-04-23 17:56] stenington opened #230 "Pull from spreadsheet"
Pull data from the google spreadsheet about badges to make the data look SUPER REAL!

[2014-04-23 17:57] stenington opened #231 "No more starbucks"
Drop the logo completely, and change the dummy data creator to something generic for now

[2014-04-23 19:24] #231 closed, assigned to stenington

[2014-04-23 19:24] #230 closed, assigned to stenington

[2014-04-23 21:25] stenington opened #235 "Differently heighted items in Foundation grid"
HumanView provides a nice helper for rendering a collection into a container that's being used to render badges and pathways into the listing page, resulting in a structure somewhat like:

[code]

Unfortunately, due to the items being differently heighted because of title length or number of tags, this can result in float problems as shown below:

![screen shot 2014-04-23 at 5 14 53 pm](https://cl

[2014-04-23 21:28] ZeeJab commented on #235
We could use masonry.js
We're using it in badgekit and it works great

[2014-04-23 23:49] shiba4life commented on #224
working on the hamburger.

[2014-04-24 14:46] chloeatplay opened #236 "Insert Sample Pathway Info to Demo"
There are two complete pathways in the excel doc

1st: Mozilla Engineer Tools Intern lines 2-17
2nd: Mozilla User Experience Intern lines 18-33

cc/ @LucasBlair

@zzzndr can you provide the art you designed for these two pathways in a dropfox link format for @stenington

grazie!

[2014-04-24 14:50] stenington commented on #236
We're adding two columns to the spreadsheet: pathway name and pathway description. For "Pathway X", the name "Pathway X" should appear in the pathway name column for EVERY badge it contains. The description for "Pathway X" just needs to appear once in ANY of the badge rows in that pathway. Similarly, a link to the artwork for the pathway can appear once in ANY of the badge rows in that pathway in

[2014-04-24 14:51] chloeatplay commented on #236
:thumbsup:

[2014-04-24 14:51] zzzndr commented on #236
voila!
https://www.dropbox.com/s/1gq0oso1g4pvkof/mozillaDeveloperToolsEngineer.svg
https://www.dropbox.com/s/q18gczwgpi8fpf8/mozillaInternUXdesigner.svg

[2014-04-24 15:11] chloeatplay opened #237 "Update Site With New Smashing Logo"
The dapper @adiladiladil has created a new logo for us. Find it over here https://www.dropbox.com/s/55b6g2hjoqmzpm5/Discover%20Logo-01.svg

[2014-04-24 16:52] threeqube commented on #237
Yay! :+1:

[2014-04-24 16:54] threeqube commented on #236
:+1:

[2014-04-24 17:19] ZeeJab commented on #224
I made this change in the compiled ui-bugz issue that was made btw... #227
closing this.

[2014-04-24 17:19] #224 closed, assigned to nobody

[2014-04-24 17:42] zzzndr commented on #237
cool!
hopefully i'll be able to see it eventually when dropbox decides it's time finish loading (:

[2014-04-24 18:15] zzzndr commented on #237
the logo is gorgeous (:

[2014-04-24 19:42] ZeeJab commented on #237
oh so its not just mine that's taking forever to load... i gave up after 3 min :-p

[2014-04-24 19:43] ZeeJab commented on #237
im gonna take it upon myself to add the logo in between the ui changes i'm making. just fyi.

[2014-04-24 19:49] zzzndr commented on #237
in my case it took only 2 hours, not bad i say!

[2014-04-24 20:53] threeqube commented on #237
:+1:

[2014-04-25 15:26] stenington opened #240 "Image proxying/canvas image security warning"
Looks like we need to proxy images for use in canvas or they run into security restrictions that prevent accessing pixel data. I'm actually not 100% sure why we're accessing pixel data... it seems to have something to do with mouse events and maybe click detection?

If we can prevent EaselJS from accessing pixel data that might work too instead of proxying.

[2014-04-25 15:28] stenington opened #241 "Reduce template duplication"
Simply replacing the default badge image involved editing 5 or 6 files, which isn't great. There's enough duplication in the templates that it may be worth either pushing that sort of data into the model, or extracting a template include or something.

[2014-04-25 15:30] #237 closed, assigned to stenington

[2014-04-25 15:32] stenington commented on #236
Okay, doing it a little differently than above. Define pathway data like title and description etc. in the tab named Pathways. For each badge in that pathway, paste the pathway name in the "Pathway name" column on the relevant badge sheet. Also, don't rename the Pathways tab or everything will break.

[2014-04-25 15:34] stenington commented on #235
Ah, yeah, masonry could work as an alternative, assuming that brick-stacking style is okay with the designers!

[2014-04-25 15:37] stenington opened #242 "Never-ending scroll & the back button"
It makes me sad that if I click "View more" 20 times, then click a badge way down the list to see the details, then click Back to return to the listing view that I only get 8 badges. Viewing more should probably adjust a query parameter or something that specifies how many badges to initially show. I think that would allow the back button to load the previously shown number of badges right off the

[2014-04-25 15:39] stenington opened #243 "Already pledged detection"
Right now when I pledge a pathway then click on my pledge, it shows me the unpledged version and allows me to pledge, duplicating it yet again. The app should detect that it's **my** pledge and take me to the editor instead.

And also set me as the creator, probably.

[2014-04-25 15:42] stenington opened #244 "Editor resizing"
Right now the editor appends blank rows on render, but doesn't re-render as I'm moving badges around. That means if I want to expand the area I have to regularly refresh the page which works as a hack but not as a designed interaction. I wonder what @chloeatplay and @zzzndr think about how rows should get added to the editor as a user needs them?

[2014-04-25 16:01] chloeatplay commented on #236
Got it! cc @LucasBlair @zzzndr folks this :point_up: as an FYI

[2014-04-25 16:08] zzzndr commented on #236
got it!

[2014-04-25 16:31] threeqube commented on #242
Don't be :crying_cat_face: @stenington

[2014-04-25 17:31] LucasBlair commented on #236
roger

[2014-04-25 21:34] stenington commented on #236
@LucasBlair These are the new rules that I have just made up.

Mikebot skips all badge rows with an empty cell in the **Keeping?** column. To keep a badge, just put anything at all in that column. (Color won't work though, mikebot is apparently colorblind.)

To add a badge to multiple pathways, just list the pathway names of all the pathways it belongs to in the **Pathway name** column, separated

[2014-04-25 21:42] stenington commented on #236
Also you can force a refresh of the data with `<instance url>/api/mikebot/activate`, e.g. http://discovery-234.herokuapp.com/api/mikebot/activate. It will show you a json dump of the data it imported.

[2014-04-25 21:50] stenington commented on #236
Uh, note that hitting the above url **will** lose any pledged pathways...

[2014-04-25 21:50] LucasBlair commented on #236
Sounds good Mike. Thanks for the update. As @chloeatplay and @zzzndr claim badge art assignments they will fill out that column with S's and C's. In the mean time I will add something in all the green cells.

All hail Mikebot

[2014-04-26 21:42] jpcamara commented on #236
I, for one, welcome our new mikebot overlords

[2014-04-30 15:04] shiba4life opened #248 "Better Header with proper Hambuger links"
![screen shot 2014-04-30 at 11 03 23 am](https://cloud.githubusercontent.com/assets/4220945/2842829/a4cc6dca-d078-11e3-8211-34d172d3055b.png)

Kind of like this.

[2014-04-30 15:05] chloeatplay commented on #248
:+1: :tada: yes!

[2014-04-30 15:08] zzzndr commented on #248
sounds like a plan!
if you need help with measurements...

[2014-04-30 15:11] malynda commented on #248
yes, please @zzzndr! What are the search bar dimensions?

[2014-04-30 15:35] zzzndr commented on #248
here are the dimensions:
https://redpen.io/gq86b7172b70903b0b

[2014-04-30 15:39] malynda commented on #248
Thanks!

[2014-04-30 16:03] cmcavoy commented on #240
Talk to @brianloveswords about this...he ran into a similar issue using
Fabric.js. I think you're right, proxying is the solution, but...run it by
him too.

On Fri, Apr 25, 2014 at 10:26 AM, Mike Larsson notifications@github.comwrote:

[2014-04-30 17:37] brianloveswords commented on #240
So any image data you pull in needs to follow Same-Origin Policy (or be CORS enabled) or else you end up "tainting" the canvas: https://developer.mozilla.org/en-US/docs/HTML/CORS_Enabled_Image.

If you can't guarantee that, you will have to proxy the image data.

[2014-05-01 18:09] malynda commented on #222
Could someone clarify this issue? Was it re: the text piling up as seen in the linked comment or are button sizes supposed to change?

[2014-05-01 18:12] malynda commented on #223
Clarification?

[2014-05-01 18:28] zzzndr commented on #222
for now i would focus on fixing the piling up of the text (:
the button sizes are supposed to change a bit as well but that is a really minor issue, not worth it atm i think (:

[2014-05-01 18:29] ZeeJab commented on #222
@malynda && @zzzndr I've fixed this in my PR.

[2014-05-01 18:29] zzzndr commented on #222
cool!

[2014-05-01 18:29] threeqube commented on #223
If you click on that comment link, provides more context but has to do with the following image:

![screen shot 2014-04-21 at 3 18 25 pm](https://cloud.githubusercontent.com/assets/1824988/2757889/c086dc30-c989-11e3-84b4-8cabc0d4f2c2.png)

[2014-05-01 18:46] zzzndr commented on #223
apart from that i'll change the header visual so the avatar will never overlap a badge / storybit icon!

[2014-05-01 19:04] #222 closed, assigned to nobody

[2014-05-01 19:09] ZeeJab commented on #223
@malynda && @threeqube && @zzzndr this was also done in my PR and is reflected in master atm.

[2014-05-01 19:09] #223 closed, assigned to nobody

[2014-05-01 19:12] zzzndr commented on #223
yay (:

[2014-05-01 19:19] threeqube commented on #223
:hammer: :+1:

[2014-05-01 19:54] malynda commented on #248
Almost there! https://www.dropbox.com/s/a28v35znvsrma2l/Screenshot%202014-05-01%2014.54.14.png

[2014-05-01 19:57] zzzndr commented on #248
nice!

[2014-05-01 20:38] malynda commented on #248
https://www.dropbox.com/s/4g85ojj0sqgx8w9/Screenshot%202014-05-01%2015.37.27.png

[2014-05-01 20:39] zzzndr commented on #248
looks good!

[2014-05-02 15:03] malynda opened #250 "Implement the mobile UI for Landing page (M1/M2)"
Change header background
Hide search bar
Make user icon visible

[2014-05-02 18:03] chloeatplay commented on #178
no longer in scope for May launch.

[2014-05-02 18:03] #178 closed, assigned to zzzndr

[2014-05-02 18:03] chloeatplay commented on #182
this is done

[2014-05-02 18:03] #182 closed, assigned to emgollie

[2014-05-02 18:04] #236 closed, assigned to stenington

[2014-05-02 18:05] #69 closed, assigned to nobody

[2014-05-02 18:05] #60 closed, assigned to nobody

[2014-05-02 18:06] #59 closed, assigned to nobody

[2014-05-02 18:09] #240 closed, assigned to nobody

[2014-05-05 13:54] stenington opened #251 "Poor internet connectivity demo scenario"
Thinking forward to demoing this, I wonder if @chloeatplay wants any backup measures in place to be able to demo this completely offline? Right now poor internet connectivity means a slow or entirely unresponsive app, unfortunately, due to several resources being loaded externally.

[2014-05-05 15:01] chloeatplay commented on #251
@stenington yes those would be nice, could be styled blue. Let me know and I can provide css guidelines.

[2014-05-05 16:54] #210 closed, assigned to nobody

[2014-05-05 17:04] stenington commented on #187
Closing out for now, can open new issues to address specifics if necessary

[2014-05-05 17:04] #187 closed, assigned to nobody

[2014-05-05 17:06] stenington commented on #180
Awesome! This was super helpful. Closing out this big ticket, can open more specific ones if needed.

[2014-05-05 17:06] #180 closed, assigned to stenington

[2014-05-05 17:13] chloeatplay commented on #135
looks like this is done @zzzndr :tada:

[2014-05-05 17:13] #135 closed, assigned to zzzndr

[2014-05-05 17:14] stenington opened #252 "Mock login for demo"
Just have mock login that doesn't rely on an external service for the demo

[2014-05-05 17:15] chloeatplay commented on #112
This looks like it is complete @LucasBlair :thumbsup:

[2014-05-05 17:15] #112 closed, assigned to LucasBlair

[2014-05-05 17:16] chloeatplay commented on #111
out of scope for this prototype, going to table this for now :chart_with_downwards_trend:

[2014-05-05 17:16] #111 closed, assigned to LucasBlair

[2014-05-05 17:16] stenington commented on #252
The mock could also show name instead of email, etc.

[2014-05-05 17:18] #101 closed, assigned to nobody

[2014-05-05 17:19] #85 closed, assigned to nobody

[2014-05-05 17:20] #78 closed, assigned to nobody

[2014-05-05 17:20] #82 closed, assigned to nobody

[2014-05-05 17:20] #83 closed, assigned to nobody

[2014-05-05 17:20] #84 closed, assigned to nobody

[2014-05-05 17:22] #71 closed, assigned to nobody

[2014-05-05 17:22] #72 closed, assigned to nobody

[2014-05-05 17:22] #73 closed, assigned to nobody

[2014-05-05 17:22] #74 closed, assigned to nobody

[2014-05-05 17:22] #52 closed, assigned to nobody

[2014-05-05 17:22] #53 closed, assigned to nobody

[2014-05-05 17:22] #58 closed, assigned to nobody

[2014-05-05 17:22] #70 closed, assigned to nobody

[2014-05-05 17:24] chloeatplay commented on #44
out of scope for now :pray:

[2014-05-05 17:24] #44 closed, assigned to chloeatplay

[2014-05-05 17:26] stenington opened #253 "New badges should appear at the top of a pathway"

[2014-05-05 17:27] stenington opened #254 "Badges should not be able to share squares in pathway editor"

[2014-05-05 17:27] stenington opened #255 "change wishlisted to favorited in badge status"

[2014-05-05 17:29] stenington opened #256 "accordion should begin all open, and then be individually togglable"
which is not the Foundation default, I think.

[2014-05-05 17:30] stenington opened #257 "change from grid to block grid"

[2014-05-05 17:40] chloeatplay opened #258 "Insert fake data for backpack/earned section"

[2014-05-05 17:41] chloeatplay opened #259 "Filtering by tag"
when i click on a tag on a badge, should be able to view all badges with that tag.

[2014-05-05 17:43] chloeatplay opened #260 "Pathway progess indicator"
We should have a checklist indicator for you to mark as an indicator of you earning/completing a skill. Can elaborate on this more wt @zzzndr / pull some quick designs.

[2014-05-05 17:44] chloeatplay opened #261 "Add About/ FAQ pages"
As per @zzzndr's designs TBD shortly

[2014-05-05 17:45] chloeatplay opened #262 "Add criteria from spreadsheet to badge display page"
We will design a quick way to do this with @zzzndr

[2014-05-05 17:47] #104 closed, assigned to LucasBlair

[2014-05-05 17:47] #110 closed, assigned to LucasBlair

[2014-05-05 17:49] chloeatplay commented on #198
Hey https://redpen.io/bmbcb61c073f770a5b these look good, but lets make them SUPER SIMPLE, as in one page with text. Can you use the text from here to design them? https://openbadges.etherpad.mozilla.org/discovery-copy

thanks! :pray:

[2014-05-05 17:50] #79 closed, assigned to nobody

[2014-05-05 17:50] #81 closed, assigned to nobody

[2014-05-05 18:50] zzzndr commented on #135
\o/

[2014-05-05 19:16] stenington opened #263 "Indicate core badges in spreadsheet"

[2014-05-05 21:45] #136 closed, assigned to zzzndr

[2014-05-05 21:46] chloeatplay commented on #113
This should be done end of this week with many badges being populated in the excel sheet by wednesday/ cc @zzzndr

[2014-05-05 21:51] chloeatplay opened #264 "Design badge visuals healthcare & service"
Ello! For these, since they are not so significant we should design a placeholder visual- i.e. the same for all badges. @LucasBlair will indicate the 2 pathways we will demo from this category in the google excel. For those it would be nice to have some versatility. :game_die:

[2014-05-06 22:54] #235 closed, assigned to nobody

[2014-05-07 17:15] zzzndr commented on #260
Version 1
https://redpen.io/kh740f16b0a4c3005c
In this proposal badges which are not earned are black/white (using css?), badges which are earned are in clolour & have an unobtrusive green ‘√’ in the top left of the badge container

Version 2
https://redpen.io/zq30f93300f10748a3
In this proposal badges which are not earned are black/white (using css?), badges which are earned are in clolour

[2014-05-07 17:36] threeqube commented on #260
If the delta is the check mark, I feel like it's superfluous. But defer to @chloeatplay :smiley_cat:

[2014-05-07 17:39] zzzndr commented on #260
totally agree that the checkmark alone isn't enough (:
the idea is to have the combination of the checkmark & coloured badges

if that is to subtle perhaps a coloured container background is more obvious, didn't go for that sollution so far because i assumed it meant more work for the dev's (:

[2014-05-07 17:43] zzzndr commented on #198
Here are new screens for the About & FAQ page (:
Both screens are single column designs

About page
https://redpen.io/zk9a30f1105289b3a8

FAQ page
https://redpen.io/md81728c775d162b98

[2014-05-07 17:51] threeqube commented on #198
:+1:

[2014-05-07 17:54] chloeatplay commented on #198
@zzzndr let's drop the advisory group images :+1: We can just add their names for now, it looks ackward within this setting- unless we create a new page "advisory group which we are not doing for now :page_facing_up: :no_entry_sign:

[2014-05-07 19:47] #169 closed, assigned to nobody

[2014-05-07 19:47] #170 closed, assigned to nobody

[2014-05-07 19:47] #171 closed, assigned to malynda

[2014-05-07 19:47] #172 closed, assigned to nobody

[2014-05-07 19:51] chloeatplay opened #269 "UI Pathway Page"
Wiki for details D4/D5/D8

Implement Sidebar : add, undo, delete buttons
Squares to be styled like the rest of the site
Core badges indicated with the little flag
Style "new" icon as shown on wireframes.

[2014-05-07 20:05] stenington commented on #252
@chloeatplay I can think of a few different ways to do this and I'm curious how you're picturing it in your head.

At one end of the spectrum, mock login could simply pop up a dialog when you press the login button asking you to enter your email address, and that's it. That would keep things very close to Persona, but without the external dependency.

At the other end of the spectrum, we could inv

[2014-05-07 20:07] zzzndr commented on #261
here are 2 links redpen pages with margins (:

margins About page
https://redpen.io/pf9af9d8f2de6b6fac

margins FAQ page
https://redpen.io/wsa597bf962fb52ad4

[2014-05-07 20:21] chloeatplay commented on #252
I was thinking more of the second option, can provide the profile picture full name etc.

[2014-05-07 20:30] stenington commented on #252
@chloeatplay Ok, do you think it will be a problem to have multiple people logged in as the same user? Another option could be to show people the same name, avatar etc. but under the hood give them different user ids or something.

[2014-05-07 20:33] chloeatplay commented on #252
Hmm, let;s re-evaluate here. Since this will be used for 1 case, demoing to R. wondering if we should scratch it all together since it looks more complicated than I thought originally.

[2014-05-07 20:39] stenington commented on #252
Ok, well I'll just start with something very simple to get us started and we can add detail if there's time.

[2014-05-07 21:47] chloeatplay commented on #252
:musical_note: to my :ear: s

[2014-05-07 21:48] stenington opened #271 "Delete is broken"
Badges delete from the editor but then come back on reload.

[2014-05-08 15:37] stenington commented on #263
@LucasBlair @chloeatplay Could a badge be a core badge for one pathway, but not another in the spreadsheet?

[2014-05-08 15:41] LucasBlair commented on #263
Yes, although I can't think of any examples from our current set of badges the system should probably accommodate it. One person could think a badge is super important and another person making a similar pathway might disagree.

[2014-05-08 15:42] stenington commented on #263
Ok. The system accommodating it isn't a problem, I'm just wondering how expressive the spreadsheet format in particular needs to be.

[2014-05-08 15:44] stenington commented on #263
@chloeatplay @LucasBlair I'm considering changing the way pathways are expressed in the spreadsheet in a way that would allow core badges to be defined, and even positions on the pathway to be defined in the spreadsheet. Would that be useful?

[2014-05-08 15:45] chloeatplay commented on #263
@LucasBlair @stenington we should think about demo needs. If in our current examples there is no badge that lives as both a core and non core one, then we shouldn't build that functionality in, right?

[2014-05-08 15:45] LucasBlair commented on #263
That sounds awesome Mike.

[2014-05-08 15:46] chloeatplay commented on #263
:+1:

[2014-05-08 15:50] stenington commented on #263
@chloeatplay Yep, I agree about not building things "just in case" at this point. Here though I think we can make a pretty easy change and get a lot of power out of it so I'll start on that.

[2014-05-08 15:51] chloeatplay commented on #263
sounds good!

[2014-05-08 18:43] stenington commented on #262
@chloeatplay @LucasBlair Are you comfortable writing html in the spreadsheets? I could just plug that in unescaped to make paragraphs and lists. Otherwise we'll have to agree on some way for me to know what's free text and what should be in a list.

[2014-05-08 18:49] chloeatplay commented on #262
yup, we can use unordered lists, for each criteria correct? ==>
< ul >
  < li >  This  < /li >
  < li >  Without the spaces  < /li >
< /ul >

Overall : can we have a sentence that says "To get this badge you need to:" before every criteria list begins?

[2014-05-08 19:44] #227 closed, assigned to ZeeJab

[2014-05-08 21:11] #188 closed, assigned to nobody

[2014-05-08 21:11] #242 closed, assigned to nobody

[2014-05-08 21:12] #259 closed, assigned to nobody

[2014-05-08 21:12] #257 closed, assigned to nobody

[2014-05-08 21:12] #271 closed, assigned to stenington

[2014-05-08 21:12] #255 closed, assigned to stenington

[2014-05-08 21:12] #263 closed, assigned to stenington

[2014-05-08 21:40] #262 closed, assigned to stenington

[2014-05-08 22:01] stenington opened #279 "Demo on 5-wide"
It might present better if the pathway editor is 5 wide instead of 3, since we'll be presenting in desktop resolution. The editor is configurable width-wise so if this is simple we can try it out.

[2014-05-08 22:02] stenington commented on #253
@chloeatplay We could also fake this by building a pathway that leaves the top row empty, depending on requirements. If you want to add 10 badges that won't work, but if you just want to add 1 or 2 it might be fine?

[2014-05-08 22:21] chloeatplay commented on #253
ah, indeed! Let's fake it then :black_joker:

[2014-05-08 22:22] chloeatplay commented on #279
:thumbsup:

[2014-05-09 12:41] stenington commented on #279
http://discovery-279.herokuapp.com/ defaults to 5 columns in the editor, and you can specify different column widths by adding `?columns=10` to the end of the url on a pathway or pledged pathway page to show 10 columns, for example.

[2014-05-09 13:17] stenington opened #282 "Undo only undoes 1 delete"
There's a funny interaction between undo and nedb, I think, where:
1. undoing a delete adds the model back to the collection
2. the add fires a PUT request with the model data including _id
3. nedb doesn't let you set _id, so a new _id is generated
4. the _id gets updated on the client, firing a change event
5. the change event gets added to undo history
6. the next undo gets caught in a loop of u

[2014-05-09 14:53] threeqube commented on #282
whoa...

[2014-05-09 15:21] stenington commented on #256
@chloeatplay @zzzndr The UI designs seem to indicate that on desktop there's no accordioning at all, but it appears for mobile. Is that still what we want, or should both have individually toggleable sections?

[2014-05-09 15:24] stenington commented on #282
<img src="https://lh6.googleusercontent.com/-BOYdZI6tT7Y/UJwzRKYdQNI/AAAAAAAC5js/Ltg-gd6SCQQ/w506-h405/photo.jpg">

[2014-05-09 15:26] chloeatplay commented on #256
I defer to @zzzndr

[2014-05-09 15:26] stenington commented on #258
Any particular badges you'd want marked as earned? Should I just randomly choose some from the spreadsheet?

[2014-05-09 15:27] stenington commented on #253
Okay. Not closing this because it's not fixed, but I'll take it off the Ready queue.

[2014-05-09 15:27] threeqube commented on #282
that gif....is :fireworks:

[2014-05-09 15:34] chloeatplay commented on #258
Hmm- lets have @LucasBlair weigh on this. Depends on the pathways we demo.

[2014-05-09 16:06] #279 closed, assigned to stenington

[2014-05-09 16:06] #282 closed, assigned to stenington

[2014-05-09 18:48] zzzndr commented on #256
the design is to have no accordion function at all on desktop, only on mobile (:

but if having an accordion function for both desktop & mobile is the least time consuming, i would go for that at this stage (:

[2014-05-09 18:51] chloeatplay commented on #256
For the demo I would go with both of them being open when you first visit the page then :)

[2014-05-09 18:56] zzzndr commented on #256
sounds like a plan to me!

[2014-05-11 18:25] LucasBlair commented on #258
All of the tech badges we will demo are earned badges. We didn't start asking people about their goals (unearned badges) until after those interviews were completed. The eldercare pathway is all earned badges as well. The remaining healthcare  and service pathways are not from interviews so they can be marked randomly if you want to demonstrate the distinction between earned and unearned.

[2014-05-12 13:44] chloeatplay commented on #258
Hey @LucasBlair i think we have a different understanding of "earned" in this context. The demo will be done from the POV of a user, not the people who submitted their pathways. Therefore, can you think which pathways you want to demo and we can show some badges as "earned" in the backpack for that user.

[2014-05-12 16:52] #198 closed, assigned to zzzndr

[2014-05-12 21:21] #256 closed, assigned to stenington

[2014-05-13 15:44] chloeatplay opened #287 "Badge in pathway editor should take you to badge page"
As per yesterdays stand, when you click on a badge in the pathway editor that should take you to the badge page

[2014-05-13 17:10] stenington opened #290 "Pathway editor square styling"
Make 'em pretty

[2014-05-13 17:11] stenington opened #291 "Core badge flag"
This may involve getting a spritesheet set up too

[2014-05-13 17:11] stenington opened #292 "Pathway editor new flag"
Style as depicted in UI, may involve setting up a spritesheet

[2014-05-13 17:13] stenington opened #293 "Make sure header with dropdown isn't eclipsed"
It gets eclipsed and hence unclickable sometimes on the dashboard page

[2014-05-13 19:05] stenington opened #294 "Clicking on pathway you own should take you to your pledged pathway"
Not the pledgeable view

[2014-05-13 19:25] chloeatplay opened #295 "Add more filters to ze hamburger"
In the :hamburger: menu we should add the following filters:  webliteracy, technology, healthcare, service, cross career

[2014-05-13 19:26] chloeatplay opened #296 "Add a search bar"
Because :mag:

[2014-05-13 19:28] chloeatplay opened #297 "Fix styling in pathway edit buttons"
When you edit the pathway, cancel buttons are not styled right.
:point_right:
![discover open badges 2014-05-13 15-27-58](https://cloud.githubusercontent.com/assets/1945209/2962837/c296198a-dad4-11e3-9112-c14c222792b7.png)

[2014-05-13 19:29] chloeatplay commented on #297
cc @zzzndr can you provide the raight files? grazie!

[2014-05-13 19:30] chloeatplay opened #298 "Fix cut off buttons"
When we add badges, then the buttons in that section are clipped off. Stupid buttons.
![bug_addbuttonscut](https://cloud.githubusercontent.com/assets/1945209/2962856/fbf9eb66-dad4-11e3-8583-036078f37f18.png)

[2014-05-13 19:36] stenington commented on #269
Remaining work has its own tickets.

[2014-05-13 19:36] #269 closed, assigned to ZeeJab

[2014-05-13 19:50] chloeatplay opened #299 ""new" icon has to be styled"
So it looks pretty @zzzndr can you provide the "new" icon link? :pray:
![newthingie](https://cloud.githubusercontent.com/assets/1945209/2963175/19ed2a86-dad8-11e3-9992-ca5b9fdd7cf6.png)

[2014-05-13 19:53] chloeatplay opened #300 "Fix squares in pathway editor so text wraps"
wrap rap rap :musical_keyboard:

[2014-05-13 19:54] chloeatplay opened #302 "Style the core badges"
as per @zzzndr designs

[2014-05-13 19:56] zzzndr commented on #299
voila:
https://www.dropbox.com/s/bh386pyqg9yj1rg/badgeNew.svg

[2014-05-13 19:56] chloeatplay opened #303 "Fix the "add badges" page so the white container follows the styling"
Like where the red arrow is pointing ![discover open badges 2014-05-13 15-55-55](https://cloud.githubusercontent.com/assets/1945209/2963223/9f6a6b9c-dad8-11e3-95c6-32251c532592.png)

[2014-05-13 19:58] chloeatplay opened #304 "Fix the stats on dashboard page"
Cause they are a trick :tophat: :rabbit:

[2014-05-13 19:59] chloeatplay opened #305 "Fix Wording on Dashboard Page"
Instead of 0 Badges, should say ==> x Earned,

Instead of Badges Favorited should say ==> x Favorited

[2014-05-13 20:06] ZeeJab commented on #300
@chloeatplay can you include an image of how it's broken right now? :rabbit:

[2014-05-13 20:09] chloeatplay commented on #300
You ask I deliver :point_right:
![discover open badges 2014-05-13 16-08-31](https://cloud.githubusercontent.com/assets/1945209/2963386/6e346eb8-dada-11e3-99c2-2b5abf6c21e7.png)

[2014-05-13 20:14] ZeeJab commented on #300
uhhhh, perfection. thank you thank you :koala:

[2014-05-13 20:23] stenington commented on #296
We could power this with the potentially slow `$regex` operator nedb has, but it'd get the point across.

[2014-05-13 22:27] stenington commented on #290
@zzzndr Right now we're having a text overflow problem with badges in the editor.

![screen shot 2014-05-13 at 6 25 18 pm](https://cloud.githubusercontent.com/assets/55319/2964987/918f234a-daed-11e3-9c7c-737fae23ca42.png)

How would you like me to make the text fit? Should I wrap the text and shrink the image so that two lines fit only where two lines are needed, or should the badge image always b

[2014-05-13 22:30] zzzndr commented on #290
what are the font settings?

in the design they are:
Open Sans Regular
font-size 14px

[2014-05-13 22:32] zzzndr commented on #290
but to answer your question as well (:
i think that if we have to choose between those 2 options i would go for same smaller size for all the images!

[2014-05-13 22:33] stenington commented on #290
Ok, I can try just dropping the font size first and seeing how that works.

[2014-05-13 23:09] stenington commented on #292
DUPE! :-1:

[2014-05-13 23:09] #292 closed, assigned to nobody

[2014-05-13 23:11] stenington commented on #291
DUPE! :boom:

[2014-05-13 23:11] #291 closed, assigned to nobody

[2014-05-14 02:24] stenington commented on #293
This shows a div eclipsing the `<nav>` element. It sometimes, but not always, seems to prevent me from clicking the dropdown.
![screen shot 2014-05-13 at 10 23 10 pm](https://cloud.githubusercontent.com/assets/55319/2966346/bca8ed4c-db0e-11e3-9c3e-a5c6a0107d57.png)

[2014-05-14 02:30] stenington commented on #304
The stats show the current collection count, which can grow as "view more" is clicked. We need to use `db.count()` [(docs)](https://github.com/louischatriot/nedb#counting-documents) on the backend somewhere and pass that information along.

[2014-05-14 03:08] stenington commented on #296
Some styles and HTML may be available in #248 to help.

[2014-05-14 03:09] stenington commented on #296
Nope, no. I meant #249.

[2014-05-14 10:42] #293 closed, assigned to stenington

[2014-05-14 12:04] stenington commented on #260
@zzzndr @chloeatplay I'm wondering if the progress indicator should only show on your pledged pathways, or if it should show for any pathway you're viewing when you're logged in? On the one hand it might influence people to pledge a pathway if they see they already have a few of the badges, but on the other all pathways will be totally grayscale for people who haven't earned any badges yet which i

[2014-05-14 12:57] zzzndr commented on #260
good point about the earned badges on un-pledged pathways (:
i would show the progress indicator on any pathway when logged in (:

[2014-05-14 14:10] stenington opened #314 "Unfavoriting broken"
In one part of the code I'm setting favorite to a boolean, in another I'm just checking for an entry at all and not looking at the boolean. :sheep:

[2014-05-14 20:02] stenington opened #316 "Pathway editor badge square corners aren't rounded"
Not sure why.

[2014-05-14 20:04] stenington commented on #316
Ah, in FF, not Chrome.

[2014-05-14 20:07] stenington commented on #316
Aaaaand it was just a caching issue on my laptop.

[2014-05-14 20:07] #316 closed, assigned to nobody

[2014-05-14 20:15] stenington commented on #258
Decision on this was to actually show badges from the Backpack.

Backup plan is to drop the "earned badges" concept as too confusing to explain a fake version for the demo.